# Reading HTML tables 

from Pandas 1.x Cookbook - Second Edition https://subscription.packtpub.com/book/programming/9781839213106/3/ch03lvl1sec32/reading-json

In this recipe, we will scrape tables from the Wikipedia entry for The Beatles Discography.

https://en.wikipedia.org/wiki/The_Beatles_discography

In [23]:
import pandas as pd
import numpy as np

In [2]:
url = 'https://en.wikipedia.org/wiki/The_Beatles_discography'
dfs = pd.read_html(url)
len(dfs)

53

In [3]:
dfs[2]

                                                Title  \
                                                Title
0                                    Please Please Me
1                                 With the Beatles[B]
2                          Introducing... The Beatles
3                                   Meet the Beatles!
4                                     Twist and Shout
5                           The Beatles' Second Album
6                        The Beatles' Long Tall Sally
7                                  A Hard Day's Night
8                                  A Hard Day's Night
9                                       Something New
10                                   Beatles for Sale
11                                        Beatles '65
12                                         Beatles VI
13                                              Help!
14                                              Help!
15                                        Rubber Soul
16                                        Rubber Soul
17                                Yesterday and Today
18                                           Revolver
19                                           Revolver
20              Sgt. Pepper's Lonely Hearts Club Band
21                               Magical Mystery Tour
22                    The Beatles ("The White Album")
23                                Yellow Submarine[D]
24                                         Abbey Road
25                                          Let It Be
26  "—" denotes that the recording did not chart o...

                                        Album details  \
                                        Album details
0      Released: 22 March 1963 Label: Parlophone (UK)
1   Released: 22 November 1963 Label: Parlophone (...
2       Released: 10 January 1964 Label: Vee-Jay (US)
3       Released: 20 January 1964 Label: Capitol (US)
4      Released: 3 February 1964 Label: Capitol (CAN)
5         Released: 10 April 1964 Label: Capitol (US)
6          Released: 11 May 1964 Label: Capitol (CAN)
7   Released: 26 June 1964 Label: United Artists (...
8       Released: 10 July 1964 Label: Parlophone (UK)
9          Released: 20 July 1964 Label: Capitol (US)
10   Released: 4 December 1964 Label: Parlophone (UK)
11     Released: 15 December 1964 Label: Capitol (US)
12  Released: 14 June 1965 Label: Parlophone (NZ),...
13     Released: 6 August 1965 Label: Parlophone (UK)
14  Released: 13 August 1965 Label: Capitol (US)[C...
15   Released: 3 December 1965 Label: Parlophone (UK)
16   Released: 6 December 1965 Label: Capitol (US)[C]
17         Released: 20 June 1966 Label: Capitol (US)
18     Released: 5 August 1966 Label: Parlophone (UK)
19     Released: 8 August 1966 Label: Capitol (US)[C]
20  Released: 26 May 1967 Label: Parlophone (UK), ...
21  Released: 27 November 1967[E] Label: Parlophon...
22            Released: 22 November 1968 Label: Apple
23  Released: 13 January 1969 Label: Apple (UK), C...
24           Released: 26 September 1969 Label: Apple
25                  Released: 8 May 1970 Label: Apple
26  "—" denotes that the recording did not chart o...

                                 Peak chart positions  \
                                             UK[1][2]
0                                                   1
1                                                   1
2                                                   —
3                                                   —
4                                                   —
5                                                   —
6                                                   —
7                                                   —
8                                                   1
9                                                   —
10                                                  1
11                                                  —
12                                                  —
13                                                  1
14                                                  —
15                                                  1
16                                                  —
17                                                  —
18                                                  1
19                                                  —
20                                                  1
21                                                 31
22                                                  1
23                                                  3
24                                                  1
25                                                  1
26  "—" denotes that the recording did not chart o...

                                                       \
                                               AUS[3]
0                                                   —
1                                                   —
2                                                   —
3                                                   —
4                                                   —
5                                                   —
6                                                   —
7                                                   —
8                                                   1
9                                                   —
10                                                  1
11                                                  —
12                                                  —
13                                                  1
14                                                  —
15                                                  1
16                                                  —
17                                                  —
18                                                  1
19                                                  —
20                                                  1
21                                                 48
22                                                  1
23                                                  4
24                                                  1
25                                                  1
26  "—" denotes that the recording did not chart o...

                                                       \
                                               CAN[4]
0                                                   —
1                                                   —
2                                                   —
3                                                   1
4                                                   1
5                                                   1
6                                                   1
7                                                   1
8                                                   —
9                                                   2
10                                                  —
11                                                  1
12                                                  1
13                                                  —
14                                                  1
15                                                  —
16                                                  1
17                                                  1
18                                                  —
19                                                  1
20                                                  1
21                                                  —
22                                                  1
23                                                  1
24                                                  1
25                                                  1
26  "—" denotes that the recording did not chart o...

                                                       \
                                               FRA[5]
0                                                   5
1                                                   5
2                                                   —
3                                                   —
4                                                   —
5                                                   —
6                                                   —
7                                                   5
8                                                   —
9                                                   —
10                                                  —
11                                                 80
12                                                  —
13                                                  5
14                                                  —
15                                                  5
16                                                  —
17                                                  —
18                                                  5
19                                                  —
20                                                  4
21                                                  2
22                                                  1
23                                                  4
24                                                  1
25                                                  5
26  "—" denotes that the recording did not chart o...

                                                       \
                                               GER[6]
0                                                   5
1                                                   1
2                                                   —
3                                                   —
4                                                   —
5                                                  50
6                                                   —
7                                                   —
8                                                   1
9                                                  38
10                                                  1
11                                                  9
12                                                 15
13                                                  1
14                                                  —
15                                                  1
16                                                  —
17                                                 13
18                                                  1
19                                                  —
20                                                  1
21                                                  8
22                                                  1
23                                                  5
24                                                  1
25                                                  4
26  "—" denotes that the recording did not chart o...

                                                       \
                                               NOR[7]
0                                                   —
1                                                   —
2                                                   —
3                                                   —
4                                                   —
5                                                   —
6                                                   —
7                                                   —
8                                                   —
9                                                   —
10                                                  —
11                                                  —
12                                                  —
13                                                  —
14                                                  —
15                                                  —
16                                                  —
17                                                  —
18                                                 14
19                                                  —
20                                                  1
21                                                 13
22                                                  1
23                                                  1
24                                                  1
25                                                  1
26  "—" denotes that the recording did not chart o...

                                                       \
                                             US[8][9]
0                                                   —
1                                                   —
2                                                   2
3                                                   1
4                                                   —
5                                                   1
6                                                   —
7                                                   1
8                                                   —
9                                                   2
10                                                  —
11                                                  1
12                                                  1
13                                                  —
14                                                  1
15                                                  —
16                                                  1
17                                                  1
18                                                  —
19                                                  1
20                                                  1
21                                                  1
22                                                  1
23                                                  2
24                                                  1
25                                                  1
26  "—" denotes that the recording did not chart o...

                                       Certifications
                                       Certifications
0   BPI: Platinum[10] ARIA: Gold[11] MC: Gold[12] ...
1   BPI: Gold[10] ARIA: Gold[11] BVMI: Gold[14] MC...
2                                  RIAA: Platinum[13]
3              MC: Platinum[12] RIAA: 5× Platinum[13]
4                                 MC: 3× Platinum[12]
5              MC: Platinum[12] RIAA: 2× Platinum[13]
6                                        MC: Gold[12]
7              MC: Platinum[12] RIAA: 4× Platinum[13]
8                    BPI: Platinum[10] ARIA: Gold[11]
9                  MC: Gold[12] RIAA: 2× Platinum[13]
10  BPI: Gold[10] ARIA: Gold[11] MC: Gold[12] RIAA...
11             MC: Platinum[12] RIAA: 3× Platinum[13]
12                    MC: Gold[12] RIAA: Platinum[13]
13                   BPI: Platinum[10] ARIA: Gold[11]
14          MC: 2× Platinum[12] RIAA: 3× Platinum[13]
15  BPI: 2x Platinum[10] ARIA: Platinum[11] BVMI: ...
16          MC: 2× Platinum[12] RIAA: 6× Platinum[13]
17             MC: Platinum[12] RIAA: 2× Platinum[13]
18            BPI: 2× Platinum[10] ARIA: Platinum[11]
19          MC: 2× Platinum[12] RIAA: 5× Platinum[13]
20  BPI: 18× Platinum[10] ARIA: 4× Platinum[11] BV...
21  BPI: Platinum[10] ARIA: Platinum[11] MC: 4× Pl...
22  BPI: 2× Platinum[10] ARIA: 2× Platinum[11] MC:...
23      BPI: Gold[10] MC: Gold[12] RIAA: Platinum[13]
24  BPI: 3× Platinum[10] ARIA: 3× Platinum[11] BVM...
25  BPI: Platinum[10] ARIA: Platinum[11] MC: 3× Pl...
26  "—" denotes that the recording did not chart o...

In [4]:
dfs1 = pd.read_html(url, match='List of studio albums', na_values='-')

In [5]:
len(dfs1)

1

In [6]:
dfs1[0].columns

MultiIndex([(               'Title',          'Title'),
            (       'Album details',  'Album details'),
            ('Peak chart positions',       'UK[1][2]'),
            ('Peak chart positions',         'AUS[3]'),
            ('Peak chart positions',         'CAN[4]'),
            ('Peak chart positions',         'FRA[5]'),
            ('Peak chart positions',         'GER[6]'),
            ('Peak chart positions',         'NOR[7]'),
            ('Peak chart positions',       'US[8][9]'),
            (      'Certifications', 'Certifications')],
           )

In [7]:
dfs1[0]

                                                Title  \
                                                Title
0                                    Please Please Me
1                                 With the Beatles[B]
2                          Introducing... The Beatles
3                                   Meet the Beatles!
4                                     Twist and Shout
5                           The Beatles' Second Album
6                        The Beatles' Long Tall Sally
7                                  A Hard Day's Night
8                                  A Hard Day's Night
9                                       Something New
10                                   Beatles for Sale
11                                        Beatles '65
12                                         Beatles VI
13                                              Help!
14                                              Help!
15                                        Rubber Soul
16                                        Rubber Soul
17                                Yesterday and Today
18                                           Revolver
19                                           Revolver
20              Sgt. Pepper's Lonely Hearts Club Band
21                               Magical Mystery Tour
22                    The Beatles ("The White Album")
23                                Yellow Submarine[D]
24                                         Abbey Road
25                                          Let It Be
26  "—" denotes that the recording did not chart o...

                                        Album details  \
                                        Album details
0      Released: 22 March 1963 Label: Parlophone (UK)
1   Released: 22 November 1963 Label: Parlophone (...
2       Released: 10 January 1964 Label: Vee-Jay (US)
3       Released: 20 January 1964 Label: Capitol (US)
4      Released: 3 February 1964 Label: Capitol (CAN)
5         Released: 10 April 1964 Label: Capitol (US)
6          Released: 11 May 1964 Label: Capitol (CAN)
7   Released: 26 June 1964 Label: United Artists (...
8       Released: 10 July 1964 Label: Parlophone (UK)
9          Released: 20 July 1964 Label: Capitol (US)
10   Released: 4 December 1964 Label: Parlophone (UK)
11     Released: 15 December 1964 Label: Capitol (US)
12  Released: 14 June 1965 Label: Parlophone (NZ),...
13     Released: 6 August 1965 Label: Parlophone (UK)
14  Released: 13 August 1965 Label: Capitol (US)[C...
15   Released: 3 December 1965 Label: Parlophone (UK)
16   Released: 6 December 1965 Label: Capitol (US)[C]
17         Released: 20 June 1966 Label: Capitol (US)
18     Released: 5 August 1966 Label: Parlophone (UK)
19     Released: 8 August 1966 Label: Capitol (US)[C]
20  Released: 26 May 1967 Label: Parlophone (UK), ...
21  Released: 27 November 1967[E] Label: Parlophon...
22            Released: 22 November 1968 Label: Apple
23  Released: 13 January 1969 Label: Apple (UK), C...
24           Released: 26 September 1969 Label: Apple
25                  Released: 8 May 1970 Label: Apple
26  "—" denotes that the recording did not chart o...

                                 Peak chart positions  \
                                             UK[1][2]
0                                                   1
1                                                   1
2                                                   —
3                                                   —
4                                                   —
5                                                   —
6                                                   —
7                                                   —
8                                                   1
9                                                   —
10                                                  1
11                                                  —
12                                                  —
13                                                  1
14                                                  —
15                                                  1
16                                                  —
17                                                  —
18                                                  1
19                                                  —
20                                                  1
21                                                 31
22                                                  1
23                                                  3
24                                                  1
25                                                  1
26  "—" denotes that the recording did not chart o...

                                                       \
                                               AUS[3]
0                                                   —
1                                                   —
2                                                   —
3                                                   —
4                                                   —
5                                                   —
6                                                   —
7                                                   —
8                                                   1
9                                                   —
10                                                  1
11                                                  —
12                                                  —
13                                                  1
14                                                  —
15                                                  1
16                                                  —
17                                                  —
18                                                  1
19                                                  —
20                                                  1
21                                                 48
22                                                  1
23                                                  4
24                                                  1
25                                                  1
26  "—" denotes that the recording did not chart o...

                                                       \
                                               CAN[4]
0                                                   —
1                                                   —
2                                                   —
3                                                   1
4                                                   1
5                                                   1
6                                                   1
7                                                   1
8                                                   —
9                                                   2
10                                                  —
11                                                  1
12                                                  1
13                                                  —
14                                                  1
15                                                  —
16                                                  1
17                                                  1
18                                                  —
19                                                  1
20                                                  1
21                                                  —
22                                                  1
23                                                  1
24                                                  1
25                                                  1
26  "—" denotes that the recording did not chart o...

                                                       \
                                               FRA[5]
0                                                   5
1                                                   5
2                                                   —
3                                                   —
4                                                   —
5                                                   —
6                                                   —
7                                                   5
8                                                   —
9                                                   —
10                                                  —
11                                                 80
12                                                  —
13                                                  5
14                                                  —
15                                                  5
16                                                  —
17                                                  —
18                                                  5
19                                                  —
20                                                  4
21                                                  2
22                                                  1
23                                                  4
24                                                  1
25                                                  5
26  "—" denotes that the recording did not chart o...

                                                       \
                                               GER[6]
0                                                   5
1                                                   1
2                                                   —
3                                                   —
4                                                   —
5                                                  50
6                                                   —
7                                                   —
8                                                   1
9                                                  38
10                                                  1
11                                                  9
12                                                 15
13                                                  1
14                                                  —
15                                                  1
16                                                  —
17                                                 13
18                                                  1
19                                                  —
20                                                  1
21                                                  8
22                                                  1
23                                                  5
24                                                  1
25                                                  4
26  "—" denotes that the recording did not chart o...

                                                       \
                                               NOR[7]
0                                                   —
1                                                   —
2                                                   —
3                                                   —
4                                                   —
5                                                   —
6                                                   —
7                                                   —
8                                                   —
9                                                   —
10                                                  —
11                                                  —
12                                                  —
13                                                  —
14                                                  —
15                                                  —
16                                                  —
17                                                  —
18                                                 14
19                                                  —
20                                                  1
21                                                 13
22                                                  1
23                                                  1
24                                                  1
25                                                  1
26  "—" denotes that the recording did not chart o...

                                                       \
                                             US[8][9]
0                                                   —
1                                                   —
2                                                   2
3                                                   1
4                                                   —
5                                                   1
6                                                   —
7                                                   1
8                                                   —
9                                                   2
10                                                  —
11                                                  1
12                                                  1
13                                                  —
14                                                  1
15                                                  —
16                                                  1
17                                                  1
18                                                  —
19                                                  1
20                                                  1
21                                                  1
22                                                  1
23                                                  2
24                                                  1
25                                                  1
26  "—" denotes that the recording did not chart o...

                                       Certifications
                                       Certifications
0   BPI: Platinum[10] ARIA: Gold[11] MC: Gold[12] ...
1   BPI: Gold[10] ARIA: Gold[11] BVMI: Gold[14] MC...
2                                  RIAA: Platinum[13]
3              MC: Platinum[12] RIAA: 5× Platinum[13]
4                                 MC: 3× Platinum[12]
5              MC: Platinum[12] RIAA: 2× Platinum[13]
6                                        MC: Gold[12]
7              MC: Platinum[12] RIAA: 4× Platinum[13]
8                    BPI: Platinum[10] ARIA: Gold[11]
9                  MC: Gold[12] RIAA: 2× Platinum[13]
10  BPI: Gold[10] ARIA: Gold[11] MC: Gold[12] RIAA...
11             MC: Platinum[12] RIAA: 3× Platinum[13]
12                    MC: Gold[12] RIAA: Platinum[13]
13                   BPI: Platinum[10] ARIA: Gold[11]
14          MC: 2× Platinum[12] RIAA: 3× Platinum[13]
15  BPI: 2x Platinum[10] ARIA: Platinum[11] BVMI: ...
16          MC: 2× Platinum[12] RIAA: 6× Platinum[13]
17             MC: Platinum[12] RIAA: 2× Platinum[13]
18            BPI: 2× Platinum[10] ARIA: Platinum[11]
19          MC: 2× Platinum[12] RIAA: 5× Platinum[13]
20  BPI: 18× Platinum[10] ARIA: 4× Platinum[11] BV...
21  BPI: Platinum[10] ARIA: Platinum[11] MC: 4× Pl...
22  BPI: 2× Platinum[10] ARIA: 2× Platinum[11] MC:...
23      BPI: Gold[10] MC: Gold[12] RIAA: Platinum[13]
24  BPI: 3× Platinum[10] ARIA: 3× Platinum[11] BVM...
25  BPI: Platinum[10] ARIA: Platinum[11] MC: 3× Pl...
26  "—" denotes that the recording did not chart o...

In [8]:
df = dfs1[0]
df.columns = ['Title', 'Release', 'UK', 'AUS', 'CAN', 'FRA', 'GER', 'NOR', 'US', 'Certifications']
df

,Title,Release,UK,AUS,CAN,FRA,GER,NOR,US,Certifications
0,Please Please Me,Released: 22 March 1963 Label: Parlophone (UK),1,—,—,5,5,—,—,BPI: Platinum[10] ARIA: Gold[11] MC: Gold[12] ...
1,With the Beatles[B],Released: 22 November 1963 Label: Parlophone (...,1,—,—,5,1,—,—,BPI: Gold[10] ARIA: Gold[11] BVMI: Gold[14] MC...
2,Introducing... The Beatles,Released: 10 January 1964 Label: Vee-Jay (US),—,—,—,—,—,—,2,RIAA: Platinum[13]
3,Meet the Beatles!,Released: 20 January 1964 Label: Capitol (US),—,—,1,—,—,—,1,MC: Platinum[12] RIAA: 5× Platinum[13]
4,Twist and Shout,Released: 3 February 1964 Label: Capitol (CAN),—,—,1,—,—,—,—,MC: 3× Platinum[12]
5,The Beatles' Second Album,Released: 10 April 1964 Label: Capitol (US),—,—,1,—,50,—,1,MC: Platinum[12] RIAA: 2× Platinum[13]
6,The Beatles' Long Tall Sally,Released: 11 May 1964 Label: Capitol (CAN),—,—,1,—,—,—,—,MC: Gold[12]
7,A Hard Day's Night,Released: 26 June 1964 Label: United Artists (...,—,—,1,5,—,—,1,MC: Platinum[12] RIAA: 4× Platinum[13]
8,A Hard Day's Night,Released: 10 July 1964 Label: Parlophone (UK),1,1,—,—,1,—,—,BPI: Platinum[10] ARIA: Gold[11]
9,Something New,Released: 20 July 1964 Label: Capitol (US),—,—,2,—,38,—,2,MC: Gold[12] RIAA: 2× Platinum[13]
10,Beatles for Sale,Released: 4 December 1964 Label: Parlophone (UK),1,1,—,—,1,—,—,BPI: Gold[10] ARIA: Gold[11] MC: Gold[12] RIAA...
11,Beatles '65,Released: 15 December 1964 Label: Capitol (US),—,—,1,80,9,—,1,MC: Platinum[12] RIAA: 3× Platinum[13]
12,Beatles VI,"Released: 14 June 1965 Label: Parlophone (NZ),...",—,—,1,—,15,—,1,MC: Gold[12] RIAA: Platinum[13]
13,Help!,Released: 6 August 1965 Label: Parlophone (UK),1,1,—,5,1,—,—,BPI: Platinum[10] ARIA: Gold[11]
14,Help!,Released: 13 August 1965 Label: Capitol (US)[C...,—,—,1,—,—,—,1,MC: 2× Platinum[12] RIAA: 3× Platinum[13]
15,Rubber Soul,Released: 3 December 1965 Label: Parlophone (UK),1,1,—,5,1,—,—,BPI: 2x Platinum[10] ARIA: Platinum[11] BVMI: ...
16,Rubber Soul,Released: 6 December 1965 Label: Capitol (US)[C],—,—,1,—,—,—,1,MC: 2× Platinum[12] RIAA: 6× Platinum[13]
17,Yesterday and Today,Released: 20 June 1966 Label: Capitol (US),—,—,1,—,13,—,1,MC: Platinum[12] RIAA: 2× Platinum[13]
18,Revolver,Released: 5 August 1966 Label: Parlophone (UK),1,1,—,5,1,14,—,BPI: 2× Platinum[10] ARIA: Platinum[11]
19,Revolver,Released: 8 August 1966 Label: Capitol (US)[C],—,—,1,—,—,—,1,MC: 2× Platinum[12] RIAA: 5× Platinum[13]
20,Sgt. Pepper's Lonely Hearts Club Band,"Released: 26 May 1967 Label: Parlophone (UK), ...",1,1,1,4,1,1,1,BPI: 18× Platinum[10] ARIA: 4× Platinum[11] BV...
21,Magical Mystery Tour,Released: 27 November 1967[E] Label: Parlophon...,31,48,—,2,8,13,1,BPI: Platinum[10] ARIA: Platinum[11] MC: 4× Pl...
22,"The Beatles (""The White Album"")",Released: 22 November 1968 Label: Apple,1,1,1,1,1,1,1,BPI: 2× Platinum[10] ARIA: 2× Platinum[11] MC:...
23,Yellow Submarine[D],"Released: 13 January 1969 Label: Apple (UK), C...",3,4,1,4,5,1,2,BPI: Gold[10] MC: Gold[12] RIAA: Platinum[13]
24,Abbey Road,Released: 26 September 1969 Label: Apple,1,1,1,1,1,1,1,BPI: 3× Platinum[10] ARIA: 3× Platinum[11] BVM...
25,Let It Be,Released: 8 May 1970 Label: Apple,1,1,1,5,4,1,1,BPI: Platinum[10] ARIA: Platinum[11] MC: 3× Pl...
26,"""—"" denotes that the recording did not chart o...","""—"" denotes that the recording did not chart o...","""—"" denotes that the recording did not chart o...","""—"" denotes that the recording did not chart o...","""—"" denotes that the recording did not chart o...","""—"" denotes that the recording did not chart o...","""—"" denotes that the recording did not chart o...","""—"" denotes that the recording did not chart o...","""—"" denotes that the recording did not chart o...","""—"" denotes that the recording did not chart o..."

In [9]:
res = (
     df.pipe(
         lambda df_: df_[
             ~df_.Title.str.startswith("Released")
         ]
     )
     .assign(
         release_date=lambda df_: pd.to_datetime(
             df_.Release.str.extract(
                 r"Released: (.*) Label"
             )[0].str.replace(r"\[E\]", "")
         ),
         label=lambda df_: df_.Release.str.extract(
             r"Label: (.*)"
         ),
     )
     .loc[
         :,
         [
             "Title",
             "UK",
             "AUS",
             "CAN",
             "FRA",
             "GER",
             "NOR",
             "US",
             "release_date",
             "label",
         ],
     ]
 )
res

,Title,UK,AUS,CAN,FRA,GER,NOR,US,release_date,label
0,Please Please Me,1,—,—,5,5,—,—,1963-03-22,Parlophone (UK)
1,With the Beatles[B],1,—,—,5,1,—,—,1963-11-22,"Parlophone (UK), Capitol (CAN), Odeon (FRA)"
2,Introducing... The Beatles,—,—,—,—,—,—,2,1964-01-10,Vee-Jay (US)
3,Meet the Beatles!,—,—,1,—,—,—,1,1964-01-20,Capitol (US)
4,Twist and Shout,—,—,1,—,—,—,—,1964-02-03,Capitol (CAN)
5,The Beatles' Second Album,—,—,1,—,50,—,1,1964-04-10,Capitol (US)
6,The Beatles' Long Tall Sally,—,—,1,—,—,—,—,1964-05-11,Capitol (CAN)
7,A Hard Day's Night,—,—,1,5,—,—,1,1964-06-26,United Artists (US)[C][D]
8,A Hard Day's Night,1,1,—,—,1,—,—,1964-07-10,Parlophone (UK)
9,Something New,—,—,2,—,38,—,2,1964-07-20,Capitol (US)
10,Beatles for Sale,1,1,—,—,1,—,—,1964-12-04,Parlophone (UK)
11,Beatles '65,—,—,1,80,9,—,1,1964-12-15,Capitol (US)
12,Beatles VI,—,—,1,—,15,—,1,1965-06-14,"Parlophone (NZ), Capitol (US)"
13,Help!,1,1,—,5,1,—,—,1965-08-06,Parlophone (UK)
14,Help!,—,—,1,—,—,—,1,1965-08-13,Capitol (US)[C][D]
15,Rubber Soul,1,1,—,5,1,—,—,1965-12-03,Parlophone (UK)
16,Rubber Soul,—,—,1,—,—,—,1,1965-12-06,Capitol (US)[C]
17,Yesterday and Today,—,—,1,—,13,—,1,1966-06-20,Capitol (US)
18,Revolver,1,1,—,5,1,14,—,1966-08-05,Parlophone (UK)
19,Revolver,—,—,1,—,—,—,1,1966-08-08,Capitol (US)[C]
20,Sgt. Pepper's Lonely Hearts Club Band,1,1,1,4,1,1,1,1967-05-26,"Parlophone (UK), Capitol (US)"
21,Magical Mystery Tour,31,48,—,2,8,13,1,1967-11-27,"Parlophone (UK), Capitol (US)"
22,"The Beatles (""The White Album"")",1,1,1,1,1,1,1,1968-11-22,Apple
23,Yellow Submarine[D],3,4,1,4,5,1,2,1969-01-13,"Apple (UK), Capitol (US)"
24,Abbey Road,1,1,1,1,1,1,1,1969-09-26,Apple
25,Let It Be,1,1,1,5,4,1,1,1970-05-08,Apple
26,"""—"" denotes that the recording did not chart o...","""—"" denotes that the recording did not chart o...","""—"" denotes that the recording did not chart o...","""—"" denotes that the recording did not chart o...","""—"" denotes that the recording did not chart o...","""—"" denotes that the recording did not chart o...","""—"" denotes that the recording did not chart o...","""—"" denotes that the recording did not chart o...",NaT,NaN

**How it works...**

The read_html function looks through the HTML for table tags and parses the contents into DataFrames. This can ease the scraping of websites. Unfortunately, as the example shows, sometimes data in HTML tables may be hard to parse. Rowspans and multiline headers may confuse pandas. You will want to make sure that you perform a sanity check on the result.

You can also use the attrs parameter to select a table from the page.

In [53]:
url = 'https://github.com/mattharrison/datasets/blob/master/data/anscombes.csv'
dfs = pd.read_html(url, attrs={"class": "csv-data"})
dfs[0].head()

   Unnamed: 0 quadrant     x     y
0         NaN        I  10.0  8.04
1         NaN        I  14.0  9.96
2         NaN        I   6.0  7.24
3         NaN        I   9.0  8.81
4         NaN        I   4.0  4.26

# Developing a data analysis routine

from Pandas 1.x Cookbook - Second Edition
https://subscription.packtpub.com/book/programming/9781839213106/4/ch04lvl1sec36/developing-a-data-analysis-routine

In [54]:
data_path = '../Pandas-Cookbook-Second-Edition/data/'
college_df = pd.read_csv(data_path + 'college.csv')
college_df.head()

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
0,Alabama A & M University,Normal,AL,1.0,0.0,0.0,0,424.0,420.0,0.0,...,0.0000,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300,33888
1,University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0,0,570.0,565.0,0.0,...,0.0368,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700,21941.5
2,Amridge University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN,1.0,...,0.0000,0.0000,0.2715,0.4536,1,0.6801,0.7795,0.8540,40100,23370
3,University of Alabama in Huntsville,Huntsville,AL,0.0,0.0,0.0,0,595.0,590.0,0.0,...,0.0172,0.0332,0.0350,0.2146,1,0.3072,0.4596,0.2640,45500,24097
4,Alabama State University,Montgomery,AL,1.0,0.0,0.0,0,425.0,430.0,0.0,...,0.0098,0.0243,0.0137,0.0892,1,0.7347,0.7554,0.1270,26600,33118.5

In [19]:
# view a sample of rows with the .sample method
college_df.sample(3, random_state=42)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
3649,Career Point College,San Antonio,TX,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0,0.0000,0.0,0.0,1,0.9172,0.9172,0.6970,20700,14977
1600,Ner Israel Rabbinical College,Baltimore,MD,0.0,1.0,0.0,1,NaN,NaN,0.0,...,0.0,0.0721,0.0,0.0,1,0.2382,0.0000,0.0882,PrivacySuppressed,PrivacySuppressed
6742,Reflections Academy of Beauty,Decatur,IL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0,0.0000,0.0,0.0,1,0.8621,0.5862,0.3333,NaN,PrivacySuppressed

In [18]:
# Get the dimensions of the DataFrame with the .shape attribute
college_df.shape

(7535, 27)

In [21]:
# list the data type of each column, the number of non-missing values, and memory usage with the .info method
college_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7535 entries, 0 to 7534
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   INSTNM              7535 non-null   object
 1   CITY                7535 non-null   object
 2   STABBR              7535 non-null   object
 3   HBCU                7164 non-null   float64
 4   MENONLY             7164 non-null   float64
 5   WOMENONLY           7164 non-null   float64
 6   RELAFFIL            7535 non-null   int64
 7   SATVRMID            1185 non-null   float64
 8   SATMTMID            1196 non-null   float64
 9   DISTANCEONLY        7164 non-null   float64
 10  UGDS                6874 non-null   float64
 11  UGDS_WHITE          6874 non-null   float64
 12  UGDS_BLACK          6874 non-null   float64
 13  UGDS_HISP           6874 non-null   float64
 14  UGDS_ASIAN          6874 non-null   float64
 15  UGDS_AIAN           6874 non-null   float64
 16  UGDS_NHPI           6874 non-null   float64
 17  UGDS_2MOR           6874 non-null   float64
 18  UGDS_NRA            6874 non-null   float64
 19  UGDS_UNKN           6874 non-null   float64
 20  PPTUG_EF            6853 non-null   float64
 21  CURROPER            7535 non-null   int64
 22  PCTPELL             6849 non-null   float64
 23  PCTFLOAN            6849 non-null   float64
 24  UG25ABV             6718 non-null   float64
 25  MD_EARN_WNE_P10     6413 non-null   object
 26  GRAD_DEBT_MDN_SUPP  7503 non-null   object
dtypes: float64(20), int64(2), object(5)
memory usage: 1.6+ MB

In [24]:
# get summary statistics for the numerical columns and transpose the DataFrame for more readable output
college_df.describe(include=[np.number]).T

,count,mean,std,min,25%,50%,75%,max
HBCU,7164.0,0.014238,0.118478,0.0,0.000000,0.00000,0.000000,1.0000
MENONLY,7164.0,0.009213,0.095546,0.0,0.000000,0.00000,0.000000,1.0000
WOMENONLY,7164.0,0.005304,0.072642,0.0,0.000000,0.00000,0.000000,1.0000
RELAFFIL,7535.0,0.190975,0.393096,0.0,0.000000,0.00000,0.000000,1.0000
SATVRMID,1185.0,522.819409,68.578862,290.0,475.000000,510.00000,555.000000,765.0000
SATMTMID,1196.0,530.765050,73.469767,310.0,482.000000,520.00000,565.000000,785.0000
DISTANCEONLY,7164.0,0.005583,0.074519,0.0,0.000000,0.00000,0.000000,1.0000
UGDS,6874.0,2356.837940,5474.275871,0.0,117.000000,412.50000,1929.500000,151558.0000
UGDS_WHITE,6874.0,0.510207,0.286958,0.0,0.267500,0.55570,0.747875,1.0000
UGDS_BLACK,6874.0,0.189997,0.224587,0.0,0.036125,0.10005,0.257700,1.0000
UGDS_HISP,6874.0,0.161635,0.221854,0.0,0.027600,0.07140,0.198875,1.0000
UGDS_ASIAN,6874.0,0.033544,0.073777,0.0,0.002500,0.01290,0.032700,0.9727
UGDS_AIAN,6874.0,0.013813,0.070196,0.0,0.000000,0.00260,0.007300,1.0000
UGDS_NHPI,6874.0,0.004569,0.033125,0.0,0.000000,0.00000,0.002500,0.9983
UGDS_2MOR,6874.0,0.023950,0.031288,0.0,0.000000,0.01750,0.033900,0.5333
UGDS_NRA,6874.0,0.016086,0.050172,0.0,0.000000,0.00000,0.011700,0.9286
UGDS_UNKN,6874.0,0.045181,0.093440,0.0,0.000000,0.01430,0.045400,0.9027
PPTUG_EF,6853.0,0.226639,0.246470,0.0,0.000000,0.15040,0.376900,1.0000
CURROPER,7535.0,0.923291,0.266146,0.0,1.000000,1.00000,1.000000,1.0000
PCTPELL,6849.0,0.530643,0.225544,0.0,0.357800,0.52150,0.712900,1.0000
PCTFLOAN,6849.0,0.522211,0.283616,0.0,0.332900,0.58330,0.745000,1.0000
UG25ABV,6718.0,0.410021,0.228939,0.0,0.241500,0.40075,0.572275,1.0000

In [26]:
# get summary statistics for the object (string) columns
college_df.describe(include=[np.object]).T

                   count unique                            top  freq
INSTNM              7535   7535  Metropolitan State University     1
CITY                7535   2514                       New York    87
STABBR              7535     59                             CA   773
MD_EARN_WNE_P10     6413    598              PrivacySuppressed   822
GRAD_DEBT_MDN_SUPP  7503   2038              PrivacySuppressed  1510

In [28]:
college_df.describe(include=[np.number], percentiles=[0.01, 0.05, 0.10, 0.25, 0.5, 0.75, 0.9, 0.95, 0.99])

,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,...,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV
count,7164.000000,7164.000000,7164.000000,7535.000000,1185.000000,1196.000000,7164.000000,6874.000000,6874.000000,6874.000000,...,6874.000000,6874.000000,6874.000000,6874.000000,6874.000000,6853.000000,7535.000000,6849.000000,6849.000000,6718.000000
mean,0.014238,0.009213,0.005304,0.190975,522.819409,530.765050,0.005583,2356.837940,0.510207,0.189997,...,0.013813,0.004569,0.023950,0.016086,0.045181,0.226639,0.923291,0.530643,0.522211,0.410021
std,0.118478,0.095546,0.072642,0.393096,68.578862,73.469767,0.074519,5474.275871,0.286958,0.224587,...,0.070196,0.033125,0.031288,0.050172,0.093440,0.246470,0.266146,0.225544,0.283616,0.228939
min,0.000000,0.000000,0.000000,0.000000,290.000000,310.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1%,0.000000,0.000000,0.000000,0.000000,390.000000,395.000000,0.000000,14.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.054976,0.000000,0.002500
5%,0.000000,0.000000,0.000000,0.000000,430.000000,430.000000,0.000000,31.650000,0.013265,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.170000,0.000000,0.037400
10%,0.000000,0.000000,0.000000,0.000000,447.400000,453.000000,0.000000,49.000000,0.068790,0.007530,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.236560,0.000000,0.089900
25%,0.000000,0.000000,0.000000,0.000000,475.000000,482.000000,0.000000,117.000000,0.267500,0.036125,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.357800,0.332900,0.241500
50%,0.000000,0.000000,0.000000,0.000000,510.000000,520.000000,0.000000,412.500000,0.555700,0.100050,...,0.002600,0.000000,0.017500,0.000000,0.014300,0.150400,1.000000,0.521500,0.583300,0.400750
75%,0.000000,0.000000,0.000000,0.000000,555.000000,565.000000,0.000000,1929.500000,0.747875,0.257700,...,0.007300,0.002500,0.033900,0.011700,0.045400,0.376900,1.000000,0.712900,0.745000,0.572275
90%,0.000000,0.000000,0.000000,1.000000,605.000000,630.000000,0.000000,6512.300000,0.862970,0.515710,...,0.018370,0.008000,0.056510,0.042500,0.108010,0.604100,1.000000,0.833300,0.847520,0.726660
95%,0.000000,0.000000,0.000000,1.000000,665.000000,685.000000,0.000000,11858.050000,0.927315,0.726715,...,0.036410,0.015200,0.076900,0.078135,0.200575,0.710620,1.000000,0.896360,0.897920,0.800000
99%,1.000000,0.000000,0.000000,1.000000,730.000000,745.250000,0.000000,26015.290000,1.000000,0.961467,...,0.209326,0.050508,0.133154,0.236989,0.496581,0.946724,1.000000,0.993908,0.986368,0.917383
max,1.000000,1.000000,1.000000,1.000000,765.000000,785.000000,1.000000,151558.000000,1.000000,1.000000,...,1.000000,0.998300,0.533300,0.928600,0.902700,1.000000,1.000000,1.000000,1.000000,1.000000

In [29]:
pd.read_csv(data_path + 'college_data_dictionary.csv')

           column_name                                        description
0               INSTNM                                   Institution Name
1                 CITY                                      City Location
2               STABBR                                 State Abbreviation
3                 HBCU           Historically Black College or University
4              MENONLY                                       0/1 Men Only
5            WOMENONLY                                     0/1 Women only
6             RELAFFIL                          0/1 Religious Affiliation
7             SATVRMID                                  SAT Verbal Median
8             SATMTMID                                    SAT Math Median
9         DISTANCEONLY                            Distance Education Only
10                UGDS                           Undergraduate Enrollment
11          UGDS_WHITE                            Percent Undergrad White
12          UGDS_BLACK                            Percent Undergrad Black
13           UGDS_HISP                         Percent Undergrad Hispanic
14          UGDS_ASIAN                            Percent Undergrad Asian
15           UGDS_AIAN   Percent Undergrad American Indian/Alaskan Native
16           UGDS_NHPI  Percent Undergrad Native Hawaiian/Pacific Isla...
17           UGDS_2MOR                  Percent Undergrad 2 or more races
18            UGDS_NRA              Percent Undergrad non-resident aliens
19           UGDS_UNKN                     Percent Undergrad race unknown
20            PPTUG_EF                         Percent Students part-time
21            CURROPER                            0/1 Currently Operating
22             PCTPELL                   Percent Students with Pell grant
23            PCTFLOAN                 Percent Students with federal loan
24             UG25ABV                     Percent Students Older than 25
25     MD_EARN_WNE_P10          Median Earnings 10 years after enrollment
26  GRAD_DEBT_MDN_SUPP                          Median debt of completers

## Selecting the smallest of the largest

In this recipe, we find the five lowest budget movies from the top 100 scoring movies by taking advantage of the convenience methods: .nlargest and .nsmallest.

In [33]:
movies = pd.read_csv(data_path+'movie.csv')
movies2 = movies[['movie_title', 'imdb_score', 'budget']]
movies2.head()

                                  movie_title  imdb_score       budget
0                                      Avatar         7.9  237000000.0
1    Pirates of the Caribbean: At World's End         7.1  300000000.0
2                                     Spectre         6.8  245000000.0
3                       The Dark Knight Rises         8.5  250000000.0
4  Star Wars: Episode VII - The Force Awakens         7.1          NaN

In [34]:
# use the .nlargest method to select the top 100 movies by imdb_score
movies2.nlargest(100, 'imdb_score')

                   movie_title  imdb_score      budget
2725          Towering Inferno         9.5         NaN
1920  The Shawshank Redemption         9.3  25000000.0
3402             The Godfather         9.2   6000000.0
2779                   Dekalog         9.1         NaN
4312      Kickboxer: Vengeance         9.1  17000000.0
...                        ...         ...         ...
4023                    Oldboy         8.4   3000000.0
4163     To Kill a Mockingbird         8.4   2000000.0
4395            Reservoir Dogs         8.4   1200000.0
4550              A Separation         8.4    500000.0
4636      The Other Dream Team         8.4    500000.0

[100 rows x 3 columns]

In [35]:
# chain the .nsmallest method to return the five lowest budget films among those with a top 100 score
movies2.nlargest(100, 'imdb_score').nsmallest(5, 'budget')

               movie_title  imdb_score    budget
4804        Butterfly Girl         8.7  180000.0
4801    Children of Heaven         8.5  180000.0
4706          12 Angry Men         8.9  350000.0
4550          A Separation         8.4  500000.0
4636  The Other Dream Team         8.4  500000.0

## Selecting the largest of each group by sorting

One of the most basic and common operations to perform during data analysis is to select rows containing the largest value of some column within a group. For instance, this would be like finding the highest-rated film of each year or the highest-grossing film by content rating.

In [37]:
movies3 = movies[['movie_title', 'title_year', 'imdb_score']]
movies3.head()

                                  movie_title  title_year  imdb_score
0                                      Avatar      2009.0         7.9
1    Pirates of the Caribbean: At World's End      2007.0         7.1
2                                     Spectre      2015.0         6.8
3                       The Dark Knight Rises      2012.0         8.5
4  Star Wars: Episode VII - The Force Awakens         NaN         7.1

In [39]:
# use the .sort_values method to sort the DataFrame by title_year
# the default behavior sorts from the smallest to the largest
# use the ascending=True parameter to invert this behavior
movies3.sort_values('title_year', ascending=True)

                                           movie_title  title_year  imdb_score
4695  Intolerance: Love's Struggle Throughout the Ages      1916.0         8.0
4833                    Over the Hill to the Poorhouse      1920.0         4.8
4767                                    The Big Parade      1925.0         8.3
2694                                        Metropolis      1927.0         8.3
4697                               The Broadway Melody      1929.0         6.3
...                                                ...         ...         ...
4683                                            Heroes         NaN         7.7
4688                                       Home Movies         NaN         8.2
4704                                        Revolution         NaN         6.7
4752                                      Happy Valley         NaN         8.5
4912                                     The Following         NaN         7.5

[4916 rows x 3 columns]

In [40]:
# to sort multiple columns at once, use a list
movies3.sort_values(['title_year', 'imdb_score'], ascending=False)

                      movie_title  title_year  imdb_score
4312         Kickboxer: Vengeance      2016.0         9.1
4277  A Beginner's Guide to Snuff      2016.0         8.7
3798                      Airlift      2016.0         8.5
27     Captain America: Civil War      2016.0         8.2
98            Godzilla Resurgence      2016.0         8.2
...                           ...         ...         ...
1391                    Rush Hour         NaN         5.8
4031                     Creature         NaN         5.0
2165              Meet the Browns         NaN         3.5
3246   The Bold and the Beautiful         NaN         3.5
2119                 The Bachelor         NaN         2.9

[4916 rows x 3 columns]

In [44]:
# use the .drop_duplicates method to keep only the first row of every year
movies[['movie_title', 'title_year', 'imdb_score']] \
.sort_values(['title_year', 'imdb_score'], ascending=False) \
.drop_duplicates(subset='title_year')

                                           movie_title  title_year  imdb_score
4312                              Kickboxer: Vengeance      2016.0         9.1
3745                                   Running Forever      2015.0         8.6
4369                            Queen of the Mountains      2014.0         8.7
3935           Batman: The Dark Knight Returns, Part 2      2013.0         8.4
3                                The Dark Knight Rises      2012.0         8.5
...                                                ...         ...         ...
2694                                        Metropolis      1927.0         8.3
4767                                    The Big Parade      1925.0         8.3
4833                    Over the Hill to the Poorhouse      1920.0         4.8
4695  Intolerance: Love's Struggle Throughout the Ages      1916.0         8.0
2725                                  Towering Inferno         NaN         9.5

[92 rows x 3 columns]

It is possible to sort one column in ascending order while simultaneously sorting another column in descending order. To accomplish this, pass in a list of Booleans to the ascending parameter that corresponds to how you would like each column sorted. The following sorts title_year and content_rating in descending order and budget in ascending order. It then finds the lowest budget film for each year and content rating group:

In [45]:
movies[['movie_title', 'title_year', 'content_rating', 'budget']] \
.sort_values(['title_year', 'content_rating', 'budget'], ascending=[False, False, True]) \
.drop_duplicates(subset=['title_year', 'content_rating'])

                         movie_title  title_year content_rating      budget
4026                       Compadres      2016.0              R   3000000.0
4658             Fight to the Finish      2016.0          PG-13    150000.0
4661                      Rodeo Girl      2016.0             PG    500000.0
3252                     The Wailing      2016.0      Not Rated         NaN
4659  Alleluia! The Devil's Carnival      2016.0            NaN    500000.0
...                              ...         ...            ...         ...
2558                      Lilyhammer         NaN          TV-MA  34000000.0
807       Sabrina, the Teenage Witch         NaN           TV-G   3000000.0
848                    Stargate SG-1         NaN          TV-14   1400000.0
2436                          Carlos         NaN      Not Rated         NaN
2119                    The Bachelor         NaN            NaN   3000000.0

[359 rows x 4 columns]

# Exploratory Data Analysis (EDA)

In [47]:
fueleco = pd.read_csv(data_path+'vehicles.csv.zip')

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (70,71,72,73,74,76,79) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [50]:
fueleco.head()

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,15.695714,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,29.964545,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,12.207778,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,29.964545,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
4,17.347895,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

In [52]:
fueleco.dtypes.value_counts()

float64    32
int64      27
object     23
bool        1
dtype: int64

In [55]:
# The iinfo function in NumPy will show us the limits for integer types.
np.iinfo(np.int8)

iinfo(min=-128, max=127, dtype=int8)

In [56]:
np.iinfo(np.int16)

iinfo(min=-32768, max=32767, dtype=int16)

## Categorical data

In [57]:
# pick out the columns with data types that are object
fueleco.select_dtypes(object).columns

Index(['drive', 'eng_dscr', 'fuelType', 'fuelType1', 'make', 'model',
       'mpgData', 'trany', 'VClass', 'guzzler', 'trans_dscr', 'tCharger',
       'sCharger', 'atvType', 'fuelType2', 'rangeA', 'evMotor', 'mfrCode',
       'c240Dscr', 'c240bDscr', 'createdOn', 'modifiedOn', 'startStop'],
      dtype='object')

In [58]:
fueleco.drive.nunique()

7

In [59]:
fueleco.drive.value_counts()

Front-Wheel Drive             13653
Rear-Wheel Drive              13284
4-Wheel or All-Wheel Drive     6648
All-Wheel Drive                2401
4-Wheel Drive                  1221
2-Wheel Drive                   507
Part-time 4-Wheel Drive         198
Name: drive, dtype: int64

In [60]:
# determine the number and percent of missing values
fueleco.drive.isna().sum()

1189

In [62]:
fueleco.drive.isna().mean() * 100

3.0408429451932175

In [77]:
def losing_team_captain(teams):
    """Given a list of teams, where each team is a list of names, return the 2nd player (captain)
    from the last listed team
    """
    return teams[-1][1]

In [78]:
teams=[['Ben', 'John', 'Allise', 'Barrack', 'Jane'], ['Sam', 'Tireon', 'Jamie', 'Ann', 'April'],
      ['Jago', 'Frodo', 'Maxx', 'Aovin', 'Teoden']]
losing_team_captain(teams)

'Frodo'

In [79]:
r = ["Mario", "Bowser", "Luigi"]
first, last = r[0,-1]

TypeError: list indices must be integers or slices, not tuple

In [112]:
party_attendees = ['Adela', 'Fleda', 'Owen', 'May', 'Mona', 'Gilbert', 'Ford']

In [114]:
length = len(party_attendees)
half = length/2
name = 'Mona'
index = party_attendees.index(name)
if (((index) >= half) and ((index) != length-1)):
    print('fashionably late')
else:
    print('not late at all')

fashionably late

In [122]:
5//3

1

In [123]:
range(5)

range(0, 5)

In [124]:
i = range(5)
i

range(0, 5)

In [125]:
for i in range(5):
    print(i)

0
1
2
3
4

In [128]:
i = 0
while i<5:
    print(i)
    i += 1

0
1
2
3
4

In [129]:
i

5

In [130]:
squares = [n**2 for n in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [131]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [132]:
short_planets = [planet for planet in planets if len(planet) < 6]
short_planets

['Venus', 'Earth', 'Mars']

In [135]:
len('Saturn')

6

In [136]:
[32 for planet in planets]

[32, 32, 32, 32, 32, 32, 32, 32]

In [141]:
def has_lucky_number(nums):
    """Return whether the given list of numbers is lucky. A lucky list contains
    at least one number divisible by 7.
    """
    for num in nums:
        if num % 7 == 0:
            return True
    return False

In [142]:
has_lucky_number([5, 14, 3, 3])

True

In [140]:
nums = [5, 14, 3, 3]
for num in nums:
        print(num)
        print(num % 7)
        if num % 7 == 0:
            print('lucky')

5
5
14
0
lucky
3
3
3
3

In [149]:
meals = ['Egg', 'Spam', 'Egg', 'Meat']
res = []
n = range(len(meals)-1)
n

range(0, 3)

In [150]:
for i in n:
    print(i, meals[i+1], meals[i])
    res.append(meals[i+1] == meals[i])
any(res)

0 Spam Egg
1 Egg Spam
2 Meat Egg

False

In [152]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 
'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planet_to_initial = {planet: planet[-1] 
    for planet in planets}
planet_to_initial

{'Mercury': 'y',
 'Venus': 's',
 'Earth': 'h',
 'Mars': 's',
 'Jupiter': 'r',
 'Saturn': 'n',
 'Uranus': 's',
 'Neptune': 'e'}

In [153]:
planet_to_initial.keys()

dict_keys(['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune'])

In [154]:
planet_to_initial.values()

dict_values(['y', 's', 'h', 's', 'r', 'n', 's', 'e'])

In [155]:
help(str)

Help on class str in module builtins:

class str(object)
 |  str(object='') -> str
 |  str(bytes_or_buffer[, encoding[, errors]]) -> str
 |
 |  Create a new string object from the given object. If encoding or
 |  errors is specified, then the object must expose a data buffer
 |  that will be decoded using the given encoding and error handler.
 |  Otherwise, returns the result of object.__str__() (if defined)
 |  or repr(object).
 |  encoding defaults to sys.getdefaultencoding().
 |  errors defaults to 'strict'.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __format__(self, format_spec, /)
 |      Return a formatted version of the string as described by format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __sizeof__(self, /)
 |      Return the size of the string in memory, in bytes.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  capitalize(self, /)
 |      Return a capitalized version of the string.
 |
 |      More specifically, make the first character have upper case and the rest lower
 |      case.
 |
 |  casefold(self, /)
 |      Return a version of the string suitable for caseless comparisons.
 |
 |  center(self, width, fillchar=' ', /)
 |      Return a centered string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  count(...)
 |      S.count(sub[, start[, end]]) -> int
 |
 |      Return the number of non-overlapping occurrences of substring sub in
 |      string S[start:end].  Optional arguments start and end are
 |      interpreted as in slice notation.
 |
 |  encode(self, /, encoding='utf-8', errors='strict')
 |      Encode the string using the codec registered for encoding.
 |
 |      encoding
 |        The encoding in which to encode the string.
 |      errors
 |        The error handling scheme to use for encoding errors.
 |        The default is 'strict' meaning that encoding errors raise a
 |        UnicodeEncodeError.  Other possible values are 'ignore', 'replace' and
 |        'xmlcharrefreplace' as well as any other name registered with
 |        codecs.register_error that can handle UnicodeEncodeErrors.
 |
 |  endswith(...)
 |      S.endswith(suffix[, start[, end]]) -> bool
 |
 |      Return True if S ends with the specified suffix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      suffix can also be a tuple of strings to try.
 |
 |  expandtabs(self, /, tabsize=8)
 |      Return a copy where all tab characters are expanded using spaces.
 |
 |      If tabsize is not given, a tab size of 8 characters is assumed.
 |
 |  find(...)
 |      S.find(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  format(...)
 |      S.format(*args, **kwargs) -> str
 |
 |      Return a formatted version of S, using substitutions from args and kwargs.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  format_map(...)
 |      S.format_map(mapping) -> str
 |
 |      Return a formatted version of S, using substitutions from mapping.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  index(...)
 |      S.index(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  isalnum(self, /)
 |      Return True if the string is an alpha-numeric string, False otherwise.
 |
 |      A string is alpha-numeric if all characters in the string are alpha-numeric and
 |      there is at least one character in the string.
 |
 |  isalpha(self, /)
 |      Return True if the string is an alphabetic string, False otherwise.
 |
 |      A string is alphabetic if all characters in the string are alphabetic and there
 |      is at least one character in the string.
 |
 |  isascii(self, /)
 |      Return True if all characters in the string are ASCII, False otherwise.
 |
 |      ASCII characters have code points in the range U+0000-U+007F.
 |      Empty string is ASCII too.
 |
 |  isdecimal(self, /)
 |      Return True if the string is a decimal string, False otherwise.
 |
 |      A string is a decimal string if all characters in the string are decimal and
 |      there is at least one character in the string.
 |
 |  isdigit(self, /)
 |      Return True if the string is a digit string, False otherwise.
 |
 |      A string is a digit string if all characters in the string are digits and there
 |      is at least one character in the string.
 |
 |  isidentifier(self, /)
 |      Return True if the string is a valid Python identifier, False otherwise.
 |
 |      Call keyword.iskeyword(s) to test whether string s is a reserved identifier,
 |      such as "def" or "class".
 |
 |  islower(self, /)
 |      Return True if the string is a lowercase string, False otherwise.
 |
 |      A string is lowercase if all cased characters in the string are lowercase and
 |      there is at least one cased character in the string.
 |
 |  isnumeric(self, /)
 |      Return True if the string is a numeric string, False otherwise.
 |
 |      A string is numeric if all characters in the string are numeric and there is at
 |      least one character in the string.
 |
 |  isprintable(self, /)
 |      Return True if the string is printable, False otherwise.
 |
 |      A string is printable if all of its characters are considered printable in
 |      repr() or if it is empty.
 |
 |  isspace(self, /)
 |      Return True if the string is a whitespace string, False otherwise.
 |
 |      A string is whitespace if all characters in the string are whitespace and there
 |      is at least one character in the string.
 |
 |  istitle(self, /)
 |      Return True if the string is a title-cased string, False otherwise.
 |
 |      In a title-cased string, upper- and title-case characters may only
 |      follow uncased characters and lowercase characters only cased ones.
 |
 |  isupper(self, /)
 |      Return True if the string is an uppercase string, False otherwise.
 |
 |      A string is uppercase if all cased characters in the string are uppercase and
 |      there is at least one cased character in the string.
 |
 |  join(self, iterable, /)
 |      Concatenate any number of strings.
 |
 |      The string whose method is called is inserted in between each given string.
 |      The result is returned as a new string.
 |
 |      Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'
 |
 |  ljust(self, width, fillchar=' ', /)
 |      Return a left-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  lower(self, /)
 |      Return a copy of the string converted to lowercase.
 |
 |  lstrip(self, chars=None, /)
 |      Return a copy of the string with leading whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  partition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string.  If the separator is found,
 |      returns a 3-tuple containing the part before the separator, the separator
 |      itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing the original string
 |      and two empty strings.
 |
 |  replace(self, old, new, count=-1, /)
 |      Return a copy with all occurrences of substring old replaced by new.
 |
 |        count
 |          Maximum number of occurrences to replace.
 |          -1 (the default value) means replace all occurrences.
 |
 |      If the optional argument count is given, only the first count occurrences are
 |      replaced.
 |
 |  rfind(...)
 |      S.rfind(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  rindex(...)
 |      S.rindex(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  rjust(self, width, fillchar=' ', /)
 |      Return a right-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  rpartition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string, starting at the end. If
 |      the separator is found, returns a 3-tuple containing the part before the
 |      separator, the separator itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing two empty strings
 |      and the original string.
 |
 |  rsplit(self, /, sep=None, maxsplit=-1)
 |      Return a list of the words in the string, using sep as the delimiter string.
 |
 |        sep
 |          The delimiter according which to split the string.
 |          None (the default value) means split according to any whitespace,
 |          and discard empty strings from the result.
 |        maxsplit
 |          Maximum number of splits to do.
 |          -1 (the default value) means no limit.
 |
 |      Splits are done starting at the end of the string and working to the front.
 |
 |  rstrip(self, chars=None, /)
 |      Return a copy of the string with trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  split(self, /, sep=None, maxsplit=-1)
 |      Return a list of the words in the string, using sep as the delimiter string.
 |
 |      sep
 |        The delimiter according which to split the string.
 |        None (the default value) means split according to any whitespace,
 |        and discard empty strings from the result.
 |      maxsplit
 |        Maximum number of splits to do.
 |        -1 (the default value) means no limit.
 |
 |  splitlines(self, /, keepends=False)
 |      Return a list of the lines in the string, breaking at line boundaries.
 |
 |      Line breaks are not included in the resulting list unless keepends is given and
 |      true.
 |
 |  startswith(...)
 |      S.startswith(prefix[, start[, end]]) -> bool
 |
 |      Return True if S starts with the specified prefix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      prefix can also be a tuple of strings to try.
 |
 |  strip(self, chars=None, /)
 |      Return a copy of the string with leading and trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  swapcase(self, /)
 |      Convert uppercase characters to lowercase and lowercase characters to uppercase.
 |
 |  title(self, /)
 |      Return a version of the string where each word is titlecased.
 |
 |      More specifically, words start with uppercased characters and all remaining
 |      cased characters have lower case.
 |
 |  translate(self, table, /)
 |      Replace each character in the string using the given translation table.
 |
 |        table
 |          Translation table, which must be a mapping of Unicode ordinals to
 |          Unicode ordinals, strings, or None.
 |
 |      The table must implement lookup/indexing via __getitem__, for instance a
 |      dictionary or list.  If this operation raises LookupError, the character is
 |      left untouched.  Characters mapped to None are deleted.
 |
 |  upper(self, /)
 |      Return a copy of the string converted to uppercase.
 |
 |  zfill(self, width, /)
 |      Pad a numeric string with zeros on the left, to fill a field of the given width.
 |
 |      The string is never truncated.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  maketrans(...)
 |      Return a translation table usable for str.translate().
 |
 |      If there is only one argument, it must be a dictionary mapping Unicode
 |      ordinals (integers) or characters to Unicode ordinals, strings or None.
 |      Character keys will be then converted to ordinals.
 |      If there are two arguments, they must be strings of equal length, and
 |      in the resulting dictionary, each character in x will be mapped to the
 |      character at the same position in y. If there is a third argument, it
 |      must be a string, whose characters will be mapped to None in the result.

In [157]:
zip_code = '122345'
zip_code.isdecimal()

True

In [226]:
keyword = 'python'
keyword = keyword.lower()
keyword

'python'

In [227]:
doc_list = ['The Learn Python Challenge Casino', 'They bought a car, and a horse and a casino', 'Casinoville?']

In [228]:
res = []
for i in range(len(doc_list)):
    substrings = doc_list[i].split()
    print(substrings)
    for subs in substrings:
        print(subs.lower().strip('.,'))
        if subs.lower().strip('.,?') == keyword:
            res.append(i)
print(res)

['The', 'Learn', 'Python', 'Challenge', 'Casino']
the
learn
python
challenge
casino
['They', 'bought', 'a', 'car,', 'and', 'a', 'horse', 'and', 'a', 'casino']
they
bought
a
car
and
a
horse
and
a
casino
['Casinoville?']
casinoville?
[0]

In [231]:
import pandas
print(dir(pandas))

['BooleanDtype', 'Categorical', 'CategoricalDtype', 'CategoricalIndex', 'DataFrame', 'DateOffset', 'DatetimeIndex', 'DatetimeTZDtype', 'ExcelFile', 'ExcelWriter', 'Float64Index', 'Grouper', 'HDFStore', 'Index', 'IndexSlice', 'Int16Dtype', 'Int32Dtype', 'Int64Dtype', 'Int64Index', 'Int8Dtype', 'Interval', 'IntervalDtype', 'IntervalIndex', 'MultiIndex', 'NA', 'NaT', 'NamedAgg', 'Period', 'PeriodDtype', 'PeriodIndex', 'RangeIndex', 'Series', 'SparseDtype', 'StringDtype', 'Timedelta', 'TimedeltaIndex', 'Timestamp', 'UInt16Dtype', 'UInt32Dtype', 'UInt64Dtype', 'UInt64Index', 'UInt8Dtype', '__builtins__', '__cached__', '__doc__', '__docformat__', '__file__', '__getattr__', '__git_version__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '__version__', '_config', '_hashtable', '_is_numpy_dev', '_lib', '_libs', '_np_version_under1p16', '_np_version_under1p17', '_np_version_under1p18', '_testing', '_tslib', '_typing', '_version', 'api', 'array', 'arrays', 'bdate_range', 'compat', 'concat', 'core', 'crosstab', 'cut', 'date_range', 'describe_option', 'errors', 'eval', 'factorize', 'get_dummies', 'get_option', 'infer_freq', 'interval_range', 'io', 'isna', 'isnull', 'json_normalize', 'lreshape', 'melt', 'merge', 'merge_asof', 'merge_ordered', 'notna', 'notnull', 'offsets', 'option_context', 'options', 'pandas', 'period_range', 'pivot', 'pivot_table', 'plotting', 'qcut', 'read_clipboard', 'read_csv', 'read_excel', 'read_feather', 'read_fwf', 'read_gbq', 'read_hdf', 'read_html', 'read_json', 'read_orc', 'read_parquet', 'read_pickle', 'read_sas', 'read_spss', 'read_sql', 'read_sql_query', 'read_sql_table', 'read_stata', 'read_table', 'reset_option', 'set_eng_float_format', 'set_option', 'show_versions', 'test', 'testing', 'timedelta_range', 'to_datetime', 'to_numeric', 'to_pickle', 'to_timedelta', 'tseries', 'unique', 'util', 'value_counts', 'wide_to_long']

In [232]:
math.pi

3.141592653589793

In [234]:
help(math.log)

Help on built-in function log in module math:

log(...)
    log(x, [base=math.e])
    Return the logarithm of x to the given base.

    If the base not specified, returns the natural logarithm (base e) of x.

In [235]:
help(math)

Help on module math:

NAME
    math

MODULE REFERENCE
    https://docs.python.org/3.8/library/math

    The following documentation is automatically generated from the Python
    source files.  It may be incomplete, incorrect or include features that
    are considered implementation detail and may vary between Python
    implementations.  When in doubt, consult the module reference at the
    location listed above.

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(x, y, /)
        greatest common divisor of x and y

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    /opt/anaconda3/lib/python3.8/lib-dynload/math.cpython-38-darwin.so

In [236]:
import statistics
help(statistics)

Help on module statistics:

NAME
    statistics - Basic statistics module.

MODULE REFERENCE
    https://docs.python.org/3.8/library/statistics

    The following documentation is automatically generated from the Python
    source files.  It may be incomplete, incorrect or include features that
    are considered implementation detail and may vary between Python
    implementations.  When in doubt, consult the module reference at the
    location listed above.

DESCRIPTION
    This module provides functions for calculating statistics of data, including
    averages, variance, and standard deviation.

    Calculating averages
    --------------------

    ==================  ==================================================
    Function            Description
    ==================  ==================================================
    mean                Arithmetic mean (average) of data.
    fmean               Fast, floating point arithmetic mean.
    geometric_mean      Geometric mean of data.
    harmonic_mean       Harmonic mean of data.
    median              Median (middle value) of data.
    median_low          Low median of data.
    median_high         High median of data.
    median_grouped      Median, or 50th percentile, of grouped data.
    mode                Mode (most common value) of data.
    multimode           List of modes (most common values of data).
    quantiles           Divide data into intervals with equal probability.
    ==================  ==================================================

    Calculate the arithmetic mean ("the average") of data:

    >>> mean([-1.0, 2.5, 3.25, 5.75])
    2.625


    Calculate the standard median of discrete data:

    >>> median([2, 3, 4, 5])
    3.5


    Calculate the median, or 50th percentile, of data grouped into class intervals
    centred on the data values provided. E.g. if your data points are rounded to
    the nearest whole number:

    >>> median_grouped([2, 2, 3, 3, 3, 4])  #doctest: +ELLIPSIS
    2.8333333333...

    This should be interpreted in this way: you have two data points in the class
    interval 1.5-2.5, three data points in the class interval 2.5-3.5, and one in
    the class interval 3.5-4.5. The median of these data points is 2.8333...


    Calculating variability or spread
    ---------------------------------

    ==================  =============================================
    Function            Description
    ==================  =============================================
    pvariance           Population variance of data.
    variance            Sample variance of data.
    pstdev              Population standard deviation of data.
    stdev               Sample standard deviation of data.
    ==================  =============================================

    Calculate the standard deviation of sample data:

    >>> stdev([2.5, 3.25, 5.5, 11.25, 11.75])  #doctest: +ELLIPSIS
    4.38961843444...

    If you have previously calculated the mean, you can pass it as the optional
    second argument to the four "spread" functions to avoid recalculating it:

    >>> data = [1, 2, 2, 4, 4, 4, 5, 6]
    >>> mu = mean(data)
    >>> pvariance(data, mu)
    2.5


    Exceptions
    ----------

    A single exception is defined: StatisticsError is a subclass of ValueError.

CLASSES
    builtins.ValueError(builtins.Exception)
        StatisticsError
    builtins.object
        NormalDist

    class NormalDist(builtins.object)
     |  NormalDist(mu=0.0, sigma=1.0)
     |
     |  Normal distribution of a random variable
     |
     |  Methods defined here:
     |
     |  __add__(x1, x2)
     |      Add a constant or another NormalDist instance.
     |
     |      If *other* is a constant, translate mu by the constant,
     |      leaving sigma unchanged.
     |
     |      If *other* is a NormalDist, add both the means and the variances.
     |      Mathematically, this works only if the two distributions are
     |      independent or if they are jointly normally distributed.
     |
     |  __eq__(x1, x2)
     |      Two NormalDist objects are equal if their mu and sigma are both equal.
     |
     |  __hash__(self)
     |      NormalDist objects hash equal if their mu and sigma are both equal.
     |
     |  __init__(self, mu=0.0, sigma=1.0)
     |      NormalDist where mu is the mean and sigma is the standard deviation.
     |
     |  __mul__(x1, x2)
     |      Multiply both mu and sigma by a constant.
     |
     |      Used for rescaling, perhaps to change measurement units.
     |      Sigma is scaled with the absolute value of the constant.
     |
     |  __neg__(x1)
     |      Negates mu while keeping sigma the same.
     |
     |  __pos__(x1)
     |      Return a copy of the instance.
     |
     |  __radd__ = __add__(x1, x2)
     |
     |  __repr__(self)
     |      Return repr(self).
     |
     |  __rmul__ = __mul__(x1, x2)
     |
     |  __rsub__(x1, x2)
     |      Subtract a NormalDist from a constant or another NormalDist.
     |
     |  __sub__(x1, x2)
     |      Subtract a constant or another NormalDist instance.
     |
     |      If *other* is a constant, translate by the constant mu,
     |      leaving sigma unchanged.
     |
     |      If *other* is a NormalDist, subtract the means and add the variances.
     |      Mathematically, this works only if the two distributions are
     |      independent or if they are jointly normally distributed.
     |
     |  __truediv__(x1, x2)
     |      Divide both mu and sigma by a constant.
     |
     |      Used for rescaling, perhaps to change measurement units.
     |      Sigma is scaled with the absolute value of the constant.
     |
     |  cdf(self, x)
     |      Cumulative distribution function.  P(X <= x)
     |
     |  inv_cdf(self, p)
     |      Inverse cumulative distribution function.  x : P(X <= x) = p
     |
     |      Finds the value of the random variable such that the probability of
     |      the variable being less than or equal to that value equals the given
     |      probability.
     |
     |      This function is also called the percent point function or quantile
     |      function.
     |
     |  overlap(self, other)
     |      Compute the overlapping coefficient (OVL) between two normal distributions.
     |
     |      Measures the agreement between two normal probability distributions.
     |      Returns a value between 0.0 and 1.0 giving the overlapping area in
     |      the two underlying probability density functions.
     |
     |          >>> N1 = NormalDist(2.4, 1.6)
     |          >>> N2 = NormalDist(3.2, 2.0)
     |          >>> N1.overlap(N2)
     |          0.8035050657330205
     |
     |  pdf(self, x)
     |      Probability density function.  P(x <= X < x+dx) / dx
     |
     |  quantiles(self, n=4)
     |      Divide into *n* continuous intervals with equal probability.
     |
     |      Returns a list of (n - 1) cut points separating the intervals.
     |
     |      Set *n* to 4 for quartiles (the default).  Set *n* to 10 for deciles.
     |      Set *n* to 100 for percentiles which gives the 99 cuts points that
     |      separate the normal distribution in to 100 equal sized groups.
     |
     |  samples(self, n, *, seed=None)
     |      Generate *n* samples for a given mean and standard deviation.
     |
     |  ----------------------------------------------------------------------
     |  Class methods defined here:
     |
     |  from_samples(data) from builtins.type
     |      Make a normal distribution instance from sample data.
     |
     |  ----------------------------------------------------------------------
     |  Readonly properties defined here:
     |
     |  mean
     |      Arithmetic mean of the normal distribution.
     |
     |  median
     |      Return the median of the normal distribution
     |
     |  mode
     |      Return the mode of the normal distribution
     |
     |      The mode is the value x where which the probability density
     |      function (pdf) takes its maximum value.
     |
     |  stdev
     |      Standard deviation of the normal distribution.
     |
     |  variance
     |      Square of the standard deviation.

    class StatisticsError(builtins.ValueError)
     |  Inappropriate argument value (of correct type).
     |
     |  Method resolution order:
     |      StatisticsError
     |      builtins.ValueError
     |      builtins.Exception
     |      builtins.BaseException
     |      builtins.object
     |
     |  Data descriptors defined here:
     |
     |  __weakref__
     |      list of weak references to the object (if defined)
     |
     |  ----------------------------------------------------------------------
     |  Methods inherited from builtins.ValueError:
     |
     |  __init__(self, /, *args, **kwargs)
     |      Initialize self.  See help(type(self)) for accurate signature.
     |
     |  ----------------------------------------------------------------------
     |  Static methods inherited from builtins.ValueError:
     |
     |  __new__(*args, **kwargs) from builtins.type
     |      Create and return a new object.  See help(type) for accurate signature.
     |
     |  ----------------------------------------------------------------------
     |  Methods inherited from builtins.BaseException:
     |
     |  __delattr__(self, name, /)
     |      Implement delattr(self, name).
     |
     |  __getattribute__(self, name, /)
     |      Return getattr(self, name).
     |
     |  __reduce__(...)
     |      Helper for pickle.
     |
     |  __repr__(self, /)
     |      Return repr(self).
     |
     |  __setattr__(self, name, value, /)
     |      Implement setattr(self, name, value).
     |
     |  __setstate__(...)
     |
     |  __str__(self, /)
     |      Return str(self).
     |
     |  with_traceback(...)
     |      Exception.with_traceback(tb) --
     |      set self.__traceback__ to tb and return self.
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors inherited from builtins.BaseException:
     |
     |  __cause__
     |      exception cause
     |
     |  __context__
     |      exception context
     |
     |  __dict__
     |
     |  __suppress_context__
     |
     |  __traceback__
     |
     |  args

FUNCTIONS
    fmean(data)
        Convert data to floats and compute the arithmetic mean.

        This runs faster than the mean() function and it always returns a float.
        If the input dataset is empty, it raises a StatisticsError.

        >>> fmean([3.5, 4.0, 5.25])
        4.25

    geometric_mean(data)
        Convert data to floats and compute the geometric mean.

        Raises a StatisticsError if the input dataset is empty,
        if it contains a zero, or if it contains a negative value.

        No special efforts are made to achieve exact results.
        (However, this may change in the future.)

        >>> round(geometric_mean([54, 24, 36]), 9)
        36.0

    harmonic_mean(data)
        Return the harmonic mean of data.

        The harmonic mean, sometimes called the subcontrary mean, is the
        reciprocal of the arithmetic mean of the reciprocals of the data,
        and is often appropriate when averaging quantities which are rates
        or ratios, for example speeds. Example:

        Suppose an investor purchases an equal value of shares in each of
        three companies, with P/E (price/earning) ratios of 2.5, 3 and 10.
        What is the average P/E ratio for the investor's portfolio?

        >>> harmonic_mean([2.5, 3, 10])  # For an equal investment portfolio.
        3.6

        Using the arithmetic mean would give an average of about 5.167, which
        is too high.

        If ``data`` is empty, or any element is less than zero,
        ``harmonic_mean`` will raise ``StatisticsError``.

    mean(data)
        Return the sample arithmetic mean of data.

        >>> mean([1, 2, 3, 4, 4])
        2.8

        >>> from fractions import Fraction as F
        >>> mean([F(3, 7), F(1, 21), F(5, 3), F(1, 3)])
        Fraction(13, 21)

        >>> from decimal import Decimal as D
        >>> mean([D("0.5"), D("0.75"), D("0.625"), D("0.375")])
        Decimal('0.5625')

        If ``data`` is empty, StatisticsError will be raised.

    median(data)
        Return the median (middle value) of numeric data.

        When the number of data points is odd, return the middle data point.
        When the number of data points is even, the median is interpolated by
        taking the average of the two middle values:

        >>> median([1, 3, 5])
        3
        >>> median([1, 3, 5, 7])
        4.0

    median_grouped(data, interval=1)
        Return the 50th percentile (median) of grouped continuous data.

        >>> median_grouped([1, 2, 2, 3, 4, 4, 4, 4, 4, 5])
        3.7
        >>> median_grouped([52, 52, 53, 54])
        52.5

        This calculates the median as the 50th percentile, and should be
        used when your data is continuous and grouped. In the above example,
        the values 1, 2, 3, etc. actually represent the midpoint of classes
        0.5-1.5, 1.5-2.5, 2.5-3.5, etc. The middle value falls somewhere in
        class 3.5-4.5, and interpolation is used to estimate it.

        Optional argument ``interval`` represents the class interval, and
        defaults to 1. Changing the class interval naturally will change the
        interpolated 50th percentile value:

        >>> median_grouped([1, 3, 3, 5, 7], interval=1)
        3.25
        >>> median_grouped([1, 3, 3, 5, 7], interval=2)
        3.5

        This function does not check whether the data points are at least
        ``interval`` apart.

    median_high(data)
        Return the high median of data.

        When the number of data points is odd, the middle value is returned.
        When it is even, the larger of the two middle values is returned.

        >>> median_high([1, 3, 5])
        3
        >>> median_high([1, 3, 5, 7])
        5

    median_low(data)
        Return the low median of numeric data.

        When the number of data points is odd, the middle value is returned.
        When it is even, the smaller of the two middle values is returned.

        >>> median_low([1, 3, 5])
        3
        >>> median_low([1, 3, 5, 7])
        3

    mode(data)
        Return the most common data point from discrete or nominal data.

        ``mode`` assumes discrete data, and returns a single value. This is the
        standard treatment of the mode as commonly taught in schools:

            >>> mode([1, 1, 2, 3, 3, 3, 3, 4])
            3

        This also works with nominal (non-numeric) data:

            >>> mode(["red", "blue", "blue", "red", "green", "red", "red"])
            'red'

        If there are multiple modes with same frequency, return the first one
        encountered:

            >>> mode(['red', 'red', 'green', 'blue', 'blue'])
            'red'

        If *data* is empty, ``mode``, raises StatisticsError.

    multimode(data)
        Return a list of the most frequently occurring values.

        Will return more than one result if there are multiple modes
        or an empty list if *data* is empty.

        >>> multimode('aabbbbbbbbcc')
        ['b']
        >>> multimode('aabbbbccddddeeffffgg')
        ['b', 'd', 'f']
        >>> multimode('')
        []

    pstdev(data, mu=None)
        Return the square root of the population variance.

        See ``pvariance`` for arguments and other details.

        >>> pstdev([1.5, 2.5, 2.5, 2.75, 3.25, 4.75])
        0.986893273527251

    pvariance(data, mu=None)
        Return the population variance of ``data``.

        data should be a sequence or iterable of Real-valued numbers, with at least one
        value. The optional argument mu, if given, should be the mean of
        the data. If it is missing or None, the mean is automatically calculated.

        Use this function to calculate the variance from the entire population.
        To estimate the variance from a sample, the ``variance`` function is
        usually a better choice.

        Examples:

        >>> data = [0.0, 0.25, 0.25, 1.25, 1.5, 1.75, 2.75, 3.25]
        >>> pvariance(data)
        1.25

        If you have already calculated the mean of the data, you can pass it as
        the optional second argument to avoid recalculating it:

        >>> mu = mean(data)
        >>> pvariance(data, mu)
        1.25

        Decimals and Fractions are supported:

        >>> from decimal import Decimal as D
        >>> pvariance([D("27.5"), D("30.25"), D("30.25"), D("34.5"), D("41.75")])
        Decimal('24.815')

        >>> from fractions import Fraction as F
        >>> pvariance([F(1, 4), F(5, 4), F(1, 2)])
        Fraction(13, 72)

    quantiles(data, *, n=4, method='exclusive')
        Divide *data* into *n* continuous intervals with equal probability.

        Returns a list of (n - 1) cut points separating the intervals.

        Set *n* to 4 for quartiles (the default).  Set *n* to 10 for deciles.
        Set *n* to 100 for percentiles which gives the 99 cuts points that
        separate *data* in to 100 equal sized groups.

        The *data* can be any iterable containing sample.
        The cut points are linearly interpolated between data points.

        If *method* is set to *inclusive*, *data* is treated as population
        data.  The minimum value is treated as the 0th percentile and the
        maximum value is treated as the 100th percentile.

    stdev(data, xbar=None)
        Return the square root of the sample variance.

        See ``variance`` for arguments and other details.

        >>> stdev([1.5, 2.5, 2.5, 2.75, 3.25, 4.75])
        1.0810874155219827

    variance(data, xbar=None)
        Return the sample variance of data.

        data should be an iterable of Real-valued numbers, with at least two
        values. The optional argument xbar, if given, should be the mean of
        the data. If it is missing or None, the mean is automatically calculated.

        Use this function when your data is a sample from a population. To
        calculate the variance from the entire population, see ``pvariance``.

        Examples:

        >>> data = [2.75, 1.75, 1.25, 0.25, 0.5, 1.25, 3.5]
        >>> variance(data)
        1.3720238095238095

        If you have already calculated the mean of your data, you can pass it as
        the optional second argument ``xbar`` to avoid recalculating it:

        >>> m = mean(data)
        >>> variance(data, m)
        1.3720238095238095

        This function does not check that ``xbar`` is actually the mean of
        ``data``. Giving arbitrary values for ``xbar`` may lead to invalid or
        impossible results.

        Decimals and Fractions are supported:

        >>> from decimal import Decimal as D
        >>> variance([D("27.5"), D("30.25"), D("30.25"), D("34.5"), D("41.75")])
        Decimal('31.01875')

        >>> from fractions import Fraction as F
        >>> variance([F(1, 6), F(1, 2), F(5, 3)])
        Fraction(67, 108)

DATA
    __all__ = ['NormalDist', 'StatisticsError', 'fmean', 'geometric_mean',...

FILE
    /opt/anaconda3/lib/python3.8/statistics.py

In [240]:
import matplotlib
dir(matplotlib)

['ExecutableNotFoundError',
 'LooseVersion',
 'MatplotlibDeprecationWarning',
 'MutableMapping',
 'Parameter',
 'Path',
 'RcParams',
 'URL_REGEX',
 '_DATA_DOC_APPENDIX',
 '_DATA_DOC_TITLE',
 '_ExecInfo',
 '__bibtex__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_add_data_doc',
 '_all_deprecated',
 '_animation_data',
 '_check_versions',
 '_cm',
 '_cm_listed',
 '_color_data',
 '_constrained_layout',
 '_deprecated_ignore_map',
 '_deprecated_map',
 '_deprecated_remain_as_none',
 '_ensure_handler',
 '_get_config_or_cache_dir',
 '_get_data_path',
 '_get_executable_info',
 '_get_ssl_context',
 '_get_xdg_cache_dir',
 '_get_xdg_config_dir',
 '_image',
 '_init_tests',
 '_label_from_arg',
 '_layoutbox',
 '_log',
 '_logged_cached',
 '_mathtext_data',
 '_open_file_or_url',
 '_path',
 '_preprocess_data',
 '_pylab_helpers',
 '_rc_params_in_file',
 '_replacer',
 '_text_layout',
 '_version',
 'afm',
 'animation',
 'artist',
 'atexit',
 'axes',
 'axis',
 'backend_bases',
 'backend_managers',
 'backend_tools',
 'backends',
 'bezier',
 'blocking_input',
 'category',
 'cbook',
 'checkdep_ps_distiller',
 'checkdep_usetex',
 'cm',
 'collections',
 'colorbar',
 'colors',
 'compare_versions',
 'container',
 'contextlib',
 'contour',
 'cycler',
 'dates',
 'defaultParams',
 'default_test_modules',
 'docstring',
 'dviread',
 'figure',
 'font_manager',
 'fontconfig_pattern',
 'ft2font',
 'functools',
 'get_backend',
 'get_cachedir',
 'get_configdir',
 'get_data_path',
 'get_home',
 'gridspec',
 'image',
 'importlib',
 'inspect',
 'interactive',
 'is_interactive',
 'is_url',
 'legend',
 'legend_handler',
 'lines',
 'locale',
 'logging',
 'markers',
 'mathtext',
 'matplotlib_fname',
 'mlab',
 'mplDeprecation',
 'namedtuple',
 'numpy',
 'offsetbox',
 'os',
 'patches',
 'path',
 'pprint',
 'projections',
 'pyplot',
 'quiver',
 'rc',
 'rcParams',
 'rcParamsDefault',
 'rcParamsOrig',
 'rc_context',
 'rc_file',
 'rc_file_defaults',
 'rc_params',
 'rc_params_from_file',
 'rcdefaults',
 'rcsetup',
 're',
 'sanitize_sequence',
 'scale',
 'set_loglevel',
 'shutil',
 'spines',
 'stackplot',
 'streamplot',
 'style',
 'subprocess',
 'sys',
 'table',
 'tempfile',
 'test',
 'texmanager',
 'text',
 'textpath',
 'ticker',
 'tight_bbox',
 'tight_layout',
 'transforms',
 'tri',
 'units',
 'use',
 'validate_backend',
 'warnings',
 'widgets']

In [250]:
cards = {'A': 1, 'J': 10, 'Q': 10, 'K': 10, '2': 2, '3': 3, '4': 4, 
             '5': 5, '6': 6, '7': 7, '8': 8, '9': 9, '10': 10}
hand = ['J', 'A', 'A', '2']
hand_total = 0
for card in hand:
    hand_total = hand_total + cards[card]
if (hand_total <= 11) and ('A' in hand):
    hand_total = hand_total + 10    
hand_total

14

In [247]:
hand.count('A')

2