This notebook contains the second part of exercises from: https://www.w3resource.com/python-exercises/pandas/index.php It covers working with `time series` data.

In [88]:
import pandas as pd
import numpy as np
from datetime import datetime as dt
import time
from datetime import date
import random

# Pandas Time Series [ 32 exercises with solution]

In [44]:
# 1 Write a Pandas program to create

# a) Datetime object for Jan 15 2012.
print(pd.to_datetime('15 Jan 2012'))

# b) Specific date and time of 9:20 pm.
print(pd.to_datetime('17/11/22 9:20pm'))

# c) Local date and time.
today = time.localtime()
print(time.strftime('%d %B %Y %H:%M', today))

# d) A date without time.
print(time.strftime('%d %B %Y', today))

# e) Current date.
print(dt.now().date())

# f) Time from a datetime.
print(dt.now().time())

2012-01-15 00:00:00
2022-11-17 21:20:00
17 November 2022 09:52
17 November 2022
2022-11-17
09:52:49.644859

In [54]:
# 2 Write a Pandas program to create

timestamp = time.time()
print(f'{timestamp=}')

# a) a specific date using timestamp.
print(date.fromtimestamp(timestamp))

# b) date and time using timestamp.
print(dt.fromtimestamp(timestamp))

timestamp=1668668168.863869
2022-11-17
2022-11-17 09:56:08.863869

In [61]:
# 3 3. Write a Pandas program to create a date from a given year, month, day 
# and another date from a given string formats.
d = pd.to_datetime('22/11/17')
print(d)

2017-11-22 00:00:00

In [86]:
# 4. Write a Pandas program to print the day after and before a specified date. 

df4 = pd.DataFrame({'year': [2022, 2021, 2020, 2019],
                   'month': [3, 4, 1, 11],
                   'day': [15, 3, 31, 7]
                })
df4['date'] = pd.to_datetime(df4)
df4['tomorrow'] = df4.date + pd.to_timedelta(1, unit='D')
df4.insert(3, 'yesterday', df4.date - pd.to_timedelta(1, unit='D'))
df4

   year  month  day  yesterday       date   tomorrow
0  2022      3   15 2022-03-14 2022-03-15 2022-03-16
1  2021      4    3 2021-04-02 2021-04-03 2021-04-04
2  2020      1   31 2020-01-30 2020-01-31 2020-02-01
3  2019     11    7 2019-11-06 2019-11-07 2019-11-08

In [87]:
# Also print the days between two given dates.

df4.tomorrow - df4.date

0   1 days
1   1 days
2   1 days
3   1 days
dtype: timedelta64[ns]

In [96]:
# 5 Write a Pandas program to create a time-series with two index labels and random values. 

val1 = random.random()
val2 = random.random()
df5 = pd.DataFrame(
    data=[val1, val2], 
    index=pd.to_datetime(['2022-11-1', '2022-10-1']), 
    columns=['values']
)
df5

              values
2022-11-01  0.152419
2022-10-01  0.828441

In [97]:
# Also print the type of the index.
df5.index

DatetimeIndex(['2022-11-01', '2022-10-01'], dtype='datetime64[ns]', freq=None)

In [99]:
# 6 Write a Pandas program to create a time-series from a given list of dates as strings.

dates = ['1947-6-19',
         '1954-6-8',
         '1977-4-14',
         '1987-2-28',
         '2001-10-16']
s = pd.Series(pd.to_datetime(dates))
s

0   1947-06-19
1   1954-06-08
2   1977-04-14
3   1987-02-28
4   2001-10-16
dtype: datetime64[ns]

In [117]:
# 7 Write a Pandas program to create a time series object that has time indexed data. 

rows = 14
dates = pd.date_range(end='2022-2-24', periods=rows, freq='3M')
values = [random.random() for i in range(rows)]
df7 = pd.DataFrame(data=values, index=dates, columns=['values'])
df7

              values
2018-10-31  0.393034
2019-01-31  0.037415
2019-04-30  0.907041
2019-07-31  0.002898
2019-10-31  0.037767
2020-01-31  0.229335
2020-04-30  0.236096
2020-07-31  0.700635
2020-10-31  0.414755
2021-01-31  0.308354
2021-04-30  0.943733
2021-07-31  0.314503
2021-10-31  0.600057
2022-01-31  0.863126

In [122]:
# Also select the dates of same year and select the dates between certain dates. 
df7.loc['2019']

              values
2019-01-31  0.037415
2019-04-30  0.907041
2019-07-31  0.002898
2019-10-31  0.037767

In [121]:
df7.loc['2020-07-31':'2021-07-31']

              values
2020-07-31  0.700635
2020-10-31  0.414755
2021-01-31  0.308354
2021-04-30  0.943733
2021-07-31  0.314503

In [123]:
# 8 Write a Pandas program to create a date range using a startpoint date and a number of periods.
pd.date_range(start='2022-2-24', periods=60)

DatetimeIndex(['2022-02-24', '2022-02-25', '2022-02-26', '2022-02-27',
               '2022-02-28', '2022-03-01', '2022-03-02', '2022-03-03',
               '2022-03-04', '2022-03-05', '2022-03-06', '2022-03-07',
               '2022-03-08', '2022-03-09', '2022-03-10', '2022-03-11',
               '2022-03-12', '2022-03-13', '2022-03-14', '2022-03-15',
               '2022-03-16', '2022-03-17', '2022-03-18', '2022-03-19',
               '2022-03-20', '2022-03-21', '2022-03-22', '2022-03-23',
               '2022-03-24', '2022-03-25', '2022-03-26', '2022-03-27',
               '2022-03-28', '2022-03-29', '2022-03-30', '2022-03-31',
               '2022-04-01', '2022-04-02', '2022-04-03', '2022-04-04',
               '2022-04-05', '2022-04-06', '2022-04-07', '2022-04-08',
               '2022-04-09', '2022-04-10', '2022-04-11', '2022-04-12',
               '2022-04-13', '2022-04-14', '2022-04-15', '2022-04-16',
               '2022-04-17', '2022-04-18', '2022-04-19', '2022-04-20',
               '2022-04-21', '2022-04-22', '2022-04-23', '2022-04-24'],
              dtype='datetime64[ns]', freq='D')

In [129]:
# 9 Write a Pandas program to create a whole month of dates in daily frequencies. 
# Also find the maximum, minimum timestamp and indexs. 
index = pd.date_range('2022-4-1', '2022-4-30')
print(index.max())
print(index.min())

2022-04-30 00:00:00
2022-04-01 00:00:00

In [131]:
# 11 Write a Pandas program to create a sequence of durations increasing by an hour.
data = range(1, 7)
pd.to_timedelta(data, unit='h')

TimedeltaIndex(['0 days 01:00:00', '0 days 02:00:00', '0 days 03:00:00',
                '0 days 04:00:00', '0 days 05:00:00', '0 days 06:00:00'],
               dtype='timedelta64[ns]', freq=None)

In [135]:
pd.timedelta_range(1, periods=12, freq='H')

TimedeltaIndex(['0 days 00:00:00.000000001', '0 days 01:00:00.000000001',
                '0 days 02:00:00.000000001', '0 days 03:00:00.000000001',
                '0 days 04:00:00.000000001', '0 days 05:00:00.000000001',
                '0 days 06:00:00.000000001', '0 days 07:00:00.000000001',
                '0 days 08:00:00.000000001', '0 days 09:00:00.000000001',
                '0 days 10:00:00.000000001', '0 days 11:00:00.000000001'],
               dtype='timedelta64[ns]', freq='H')

In [142]:
# 12 Write a Pandas program to convert year and day of year into a single datetime column of a dataframe
year = [2022, 2022, 2022, 2021, 2021, 2020]
day = [1, 2, 3, 4, 5, 7]
df12 = pd.DataFrame(data={'year': year, 'day': day})
df12['month'] = 4
df12['date'] = pd.to_datetime(df12)
df12

   year  day  month       date
0  2022    1      4 2022-04-01
1  2022    2      4 2022-04-02
2  2022    3      4 2022-04-03
3  2021    4      4 2021-04-04
4  2021    5      4 2021-04-05
5  2020    7      4 2020-04-07

In [146]:
day_of_year = [14, 250, 365, 99, 54, 120]
df12_1 = pd.DataFrame({'year': year, 'day_of_year': day_of_year})
df12_1['date_int'] = df12_1.year * 1000 + df12_1.day_of_year
df12_1['date'] = pd.to_datetime(df12_1.date_int, format='%Y%j')
df12_1

   year  day_of_year  date_int       date
0  2022           14   2022014 2022-01-14
1  2022          250   2022250 2022-09-07
2  2022          365   2022365 2022-12-31
3  2021           99   2021099 2021-04-09
4  2021           54   2021054 2021-02-23
5  2020          120   2020120 2020-04-29

In [149]:
df12_1.date_int.dtype

dtype('int64')

In [164]:
# 14 Write a Pandas program to check if a day is a business day (weekday) or not.

def is_buisness_day(date):
    return bool(len(pd.bdate_range(date, date)))

df12_1['buisness_day'] = list(map(is_buisness_day, df12_1.date))
df12_1

   year  day_of_year  date_int       date  buisness_day
0  2022           14   2022014 2022-01-14          True
1  2022          250   2022250 2022-09-07          True
2  2022          365   2022365 2022-12-31         False
3  2021           99   2021099 2021-04-09          True
4  2021           54   2021054 2021-02-23          True
5  2020          120   2020120 2020-04-29          True

In [169]:
# 15 Write a Pandas program to get a time series with the last working days of each month of a specific year.
pd.date_range(start='2021-1-1', end='2021-12-31', freq='BM')

DatetimeIndex(['2021-01-29', '2021-02-26', '2021-03-31', '2021-04-30',
               '2021-05-31', '2021-06-30', '2021-07-30', '2021-08-31',
               '2021-09-30', '2021-10-29', '2021-11-30', '2021-12-31'],
              dtype='datetime64[ns]', freq='BM')