This notebook contains the second part of exercises from:
https://www.w3resource.com/python-exercises/pandas/index.php

In [1]:
import pandas as pd
import numpy as np

# Pandas Joining and merging DataFrame [ 15 exercises with solution]

In [2]:
# 1 Write a Pandas program to join the two given dataframes along rows and assign all data.
# df1_1 = pd.read_clipboard()
# df1_2 = pd.read_clipboard()
pd.concat([df1_1, df1_2])
pd.merge(df1_1, df1_2, how='outer')

NameError: name 'df1_1' is not defined

In [ ]:
# 2 Write a Pandas program to join the two given dataframes along columns and assign all data.
# df1_1.join(df1_2, how='outer', rsuffix='_2')
pd.concat([df1_1, df1_2], axis=1)

In [ ]:
# 3 Write a Pandas program to append rows to an existing DataFrame and display the combined data.
new_row = pd.DataFrame({
    'student_id': 'S6',
    'name': 'Scarlette Fisher',
    'marks': 205
}, index=[0])
pd.concat([df1_1, new_row])
# or
# s6 = pd.Series(['S6', 'Scarlette Fisher', 205], index=['student_id', 'name', 'marks'])
# df1_1.append(s6, ignore_index=True)

In [ ]:
# 4 Write a Pandas program to append a list of dictioneries or series 
# to a existing DataFrame and display the combined data.
dicts = [{'student_id': 'S6', 'name': 'Scarlette Fisher', 'marks': 203},
         {'student_id': 'S7', 'name': 'Bryce Jensen', 'marks': 207}]
df1_1.append(dicts, ignore_index=True)

In [ ]:
# 5 Write a Pandas program to join the two given dataframes along rows 
# and merge with another dataframe along the common column id.
# df_exam = pd.read_clipboard()
df_exam
pd.concat([df1_1, df1_2]).merge(df_exam)

In [ ]:
# 6 Write a Pandas program to join the two dataframes using the common column of both dataframes.
df1_1.merge(df1_2, on='student_id')

In [ ]:
# 7 Write a Pandas program to join the two dataframes with matching records from both sides where available. 
df1_1.merge(df1_2, on='student_id', how='outer')

In [ ]:
# 8 Write a Pandas program to join (left join) the two dataframes using keys from left dataframe only.
# df8_1 = pd.read_clipboard()
# df8_2 = pd.read_clipboard()
df8_1.merge(df8_2, on=['key1', 'key2'], how='left')

In [ ]:
# 9 Write a Pandas program to join two dataframes using keys from right dataframe only.
df8_1.merge(df8_2, on=['key1', 'key2'], how='right')

In [ ]:
# 10 Write a Pandas program to merge two given datasets using multiple join keys.
df8_1.merge(df8_2, on=['key1', 'key2'])

In [ ]:
# 11 Write a Pandas program to create a new DataFrame based on existing series, 
# using specified argument and override the existing columns names.
student_id = pd.Series(['S5', 'S4'])
name = pd.Series(['Kwame Morin', 'Ed Bernal'])
marks = pd.Series([199.0, 222.0])
df = pd.concat([student_id, name, marks], axis=1, keys=['student_id', 'name', 'marks'])
df

In [ ]:
# 12 Write a Pandas program to create a combination from two dataframes 
# where a column id combination appears more than once in both dataframes.
pd.merge(df8_1, df8_2, on='key1')

In [ ]:
# 13 Write a Pandas program to combine the columns of two potentially 
# differently-indexed DataFrames into a single result DataFrame.
# df13_1 = pd.read_clipboard()
# df13_2 = pd.read_clipboard()
pd.merge(df13_1, df13_2, how='outer', left_index=True, right_index=True)

In [ ]:
# 14 Write a Pandas program to merge two given dataframes with different columns.
# df14_1 = pd.read_clipboard()
# df14_2 = pd.read_clipboard()
pd.concat([df14_1, df14_2], axis=0, ignore_index=True)

In [ ]:
# 15 Write a Pandas program to Combine two DataFrame objects by filling 
# null values in one DataFrame with non-null values from other DataFrame. 
# df15_1 = pd.read_clipboard()
# df15_2 = pd.read_clipboard()
df15_1.combine_first(df15_2)

In [ ]:
df15_2.combine_first(df15_1)

# Pandas String and Regular Expression [ 41 exercises with solution]

In [3]:
# 1 Write a Pandas program to convert all the string values to upper, 
# lower cases in a given pandas series. Also find the length of the string values.
sr1 = pd.Series(['annabel', 'april', 'elisa', 'maria', 'lenny', 'george'])
sr1.str.upper().str.lower().str.len()

0    7
1    5
2    5
3    5
4    5
5    6
dtype: int64

In [4]:
# 2 Write a Pandas program to remove whitespaces, left sided whitespaces 
# and right sided whitespaces of the string values of a given pandas series.
sr2 = pd.Series(['   annabel   ', '   april   ', '   elisa   ', '   maria   ', '   lenny   ', '   george   '])
sr2.str.strip().values

array(['annabel', 'april', 'elisa', 'maria', 'lenny', 'george'],
      dtype=object)

The `format()` method formats the specified value(s) and insert them inside the string's placeholder.
The placeholder is defined using curly brackets: `{}`. The `format()`method returns the formatted string.

The placeholders can be identified using named indexes `{price}`, numbered indexes `{0}`, or even empty placeholders `{}`.

Inside the placeholders you can add a formatting type to format the result:
- `:<` Left aligns the result (within the available space)
- `:>` Right aligns the result (within the available space)
- `:^` Center aligns the result (within the available space)
- `:_` Use a underscore as a thousand separator

In [10]:
# 3 Write a Pandas program to add leading zeros to the integer column 
# in a pandas series and makes the length of the field to 8 digit.
sr3 = pd.Series(list(range(10, 4000, 200)))
sr3.apply(lambda x: '{:0>8}'.format(x))

0     00000010
1     00000210
2     00000410
3     00000610
4     00000810
5     00001010
6     00001210
7     00001410
8     00001610
9     00001810
10    00002010
11    00002210
12    00002410
13    00002610
14    00002810
15    00003010
16    00003210
17    00003410
18    00003610
19    00003810
dtype: object

In [8]:
# 4  Write a Pandas program to add leading zeros to the character column 
# in a pandas series and makes the length of the field to 8 digit.
sr4 = pd.Series(['am', 'ummm', 'shrink', 'looosee'])
sr4.str.zfill(8)

0    000000am
1    0000ummm
2    00shrink
3    0looosee
dtype: object

In [16]:
# 5 Write a Pandas program to capitalize all the string values of specified columns of a given DataFrame.
sr2.str.capitalize()

0       annabel
1         april
2         elisa
3         maria
4         lenny
5        george
dtype: object

In [19]:
# 6 Write a Pandas program to count of occurrence of a specified substring in a DataFrame column.
sr2.str.contains('ri').value_counts()

False    4
True     2
dtype: int64

In [22]:
s = 'The war should be ended immediately'
s.center(100)

'                                The war should be ended immediately                                 '

In [23]:
import re

regexp = re.compile('[-0-5]')

In [24]:
regexp

re.compile(r'[-0-5]', re.UNICODE)

In [26]:
string = '-5-4-3-2-1'
find = regexp.search(string)
find