In [2]:
import pandas as pd
import numpy as np
import random

# Working with dates and time in Pandas

## pandas.Timestamp

[Official documentantion](https://pandas.pydata.org/docs/reference/api/pandas.Timestamp.html)

`Pandas` replacement for python `datetime.datetime` object.

Timestamp is the pandas equivalent of python’s Datetime and is interchangeable with it in most cases. It’s the type used for the entries that make up a DatetimeIndex, and other timeseries oriented data structures in pandas.

In [3]:
# creating timestamp with different parameters

print(pd.Timestamp('2022-11-20'))
print(pd.Timestamp(year=2022, month=11, day=20, hour=10, minute=51))
print(pd.Timestamp(2000, 4, 14 ,14, 0))
print(pd.Timestamp(1713393355.5, unit='s', tz='US/Pacific'))

2022-11-20 00:00:00
2022-11-20 10:51:00
2000-04-14 14:00:00
2024-04-17 15:35:55.500000-07:00

In [4]:
# get timezones list

import pytz

pytz.all_timezones

['Africa/Abidjan',
 'Africa/Accra',
 'Africa/Addis_Ababa',
 'Africa/Algiers',
 'Africa/Asmara',
 'Africa/Asmera',
 'Africa/Bamako',
 'Africa/Bangui',
 'Africa/Banjul',
 'Africa/Bissau',
 'Africa/Blantyre',
 'Africa/Brazzaville',
 'Africa/Bujumbura',
 'Africa/Cairo',
 'Africa/Casablanca',
 'Africa/Ceuta',
 'Africa/Conakry',
 'Africa/Dakar',
 'Africa/Dar_es_Salaam',
 'Africa/Djibouti',
 'Africa/Douala',
 'Africa/El_Aaiun',
 'Africa/Freetown',
 'Africa/Gaborone',
 'Africa/Harare',
 'Africa/Johannesburg',
 'Africa/Juba',
 'Africa/Kampala',
 'Africa/Khartoum',
 'Africa/Kigali',
 'Africa/Kinshasa',
 'Africa/Lagos',
 'Africa/Libreville',
 'Africa/Lome',
 'Africa/Luanda',
 'Africa/Lubumbashi',
 'Africa/Lusaka',
 'Africa/Malabo',
 'Africa/Maputo',
 'Africa/Maseru',
 'Africa/Mbabane',
 'Africa/Mogadishu',
 'Africa/Monrovia',
 'Africa/Nairobi',
 'Africa/Ndjamena',
 'Africa/Niamey',
 'Africa/Nouakchott',
 'Africa/Ouagadougou',
 'Africa/Porto-Novo',
 'Africa/Sao_Tome',
 'Africa/Timbuktu',
 'Africa/Tripoli',
 'Africa/Tunis',
 'Africa/Windhoek',
 'America/Adak',
 'America/Anchorage',
 'America/Anguilla',
 'America/Antigua',
 'America/Araguaina',
 'America/Argentina/Buenos_Aires',
 'America/Argentina/Catamarca',
 'America/Argentina/ComodRivadavia',
 'America/Argentina/Cordoba',
 'America/Argentina/Jujuy',
 'America/Argentina/La_Rioja',
 'America/Argentina/Mendoza',
 'America/Argentina/Rio_Gallegos',
 'America/Argentina/Salta',
 'America/Argentina/San_Juan',
 'America/Argentina/San_Luis',
 'America/Argentina/Tucuman',
 'America/Argentina/Ushuaia',
 'America/Aruba',
 'America/Asuncion',
 'America/Atikokan',
 'America/Atka',
 'America/Bahia',
 'America/Bahia_Banderas',
 'America/Barbados',
 'America/Belem',
 'America/Belize',
 'America/Blanc-Sablon',
 'America/Boa_Vista',
 'America/Bogota',
 'America/Boise',
 'America/Buenos_Aires',
 'America/Cambridge_Bay',
 'America/Campo_Grande',
 'America/Cancun',
 'America/Caracas',
 'America/Catamarca',
 'America/Cayenne',
 'America/Cayman',
 'America/Chicago',
 'America/Chihuahua',
 'America/Coral_Harbour',
 'America/Cordoba',
 'America/Costa_Rica',
 'America/Creston',
 'America/Cuiaba',
 'America/Curacao',
 'America/Danmarkshavn',
 'America/Dawson',
 'America/Dawson_Creek',
 'America/Denver',
 'America/Detroit',
 'America/Dominica',
 'America/Edmonton',
 'America/Eirunepe',
 'America/El_Salvador',
 'America/Ensenada',
 'America/Fort_Nelson',
 'America/Fort_Wayne',
 'America/Fortaleza',
 'America/Glace_Bay',
 'America/Godthab',
 'America/Goose_Bay',
 'America/Grand_Turk',
 'America/Grenada',
 'America/Guadeloupe',
 'America/Guatemala',
 'America/Guayaquil',
 'America/Guyana',
 'America/Halifax',
 'America/Havana',
 'America/Hermosillo',
 'America/Indiana/Indianapolis',
 'America/Indiana/Knox',
 'America/Indiana/Marengo',
 'America/Indiana/Petersburg',
 'America/Indiana/Tell_City',
 'America/Indiana/Vevay',
 'America/Indiana/Vincennes',
 'America/Indiana/Winamac',
 'America/Indianapolis',
 'America/Inuvik',
 'America/Iqaluit',
 'America/Jamaica',
 'America/Jujuy',
 'America/Juneau',
 'America/Kentucky/Louisville',
 'America/Kentucky/Monticello',
 'America/Knox_IN',
 'America/Kralendijk',
 'America/La_Paz',
 'America/Lima',
 'America/Los_Angeles',
 'America/Louisville',
 'America/Lower_Princes',
 'America/Maceio',
 'America/Managua',
 'America/Manaus',
 'America/Marigot',
 'America/Martinique',
 'America/Matamoros',
 'America/Mazatlan',
 'America/Mendoza',
 'America/Menominee',
 'America/Merida',
 'America/Metlakatla',
 'America/Mexico_City',
 'America/Miquelon',
 'America/Moncton',
 'America/Monterrey',
 'America/Montevideo',
 'America/Montreal',
 'America/Montserrat',
 'America/Nassau',
 'America/New_York',
 'America/Nipigon',
 'America/Nome',
 'America/Noronha',
 'America/North_Dakota/Beulah',
 'America/North_Dakota/Center',
 'America/North_Dakota/New_Salem',
 'America/Nuuk',
 'America/Ojinaga',
 'America/Panama',
 'America/Pangnirtung',
 'America/Paramaribo',
 'America/Phoenix',
 'America/Port-au-Prince',
 'America/Port_of_Spain',
 'America/Porto_Acre',
 'America/Porto_Velho',
 'America/Puerto_Rico',
 'America/Punta_Arenas',
 'America/Rainy_River',
 'America/Rankin_Inlet',
 'America/Recife',
 'America/Regina',
 'America/Resolute',
 'America/Rio_Branco',
 'America/Rosario',
 'America/Santa_Isabel',
 'America/Santarem',
 'America/Santiago',
 'America/Santo_Domingo',
 'America/Sao_Paulo',
 'America/Scoresbysund',
 'America/Shiprock',
 'America/Sitka',
 'America/St_Barthelemy',
 'America/St_Johns',
 'America/St_Kitts',
 'America/St_Lucia',
 'America/St_Thomas',
 'America/St_Vincent',
 'America/Swift_Current',
 'America/Tegucigalpa',
 'America/Thule',
 'America/Thunder_Bay',
 'America/Tijuana',
 'America/Toronto',
 'America/Tortola',
 'America/Vancouver',
 'America/Virgin',
 'America/Whitehorse',
 'America/Winnipeg',
 'America/Yakutat',
 'America/Yellowknife',
 'Antarctica/Casey',
 'Antarctica/Davis',
 'Antarctica/DumontDUrville',
 'Antarctica/Macquarie',
 'Antarctica/Mawson',
 'Antarctica/McMurdo',
 'Antarctica/Palmer',
 'Antarctica/Rothera',
 'Antarctica/South_Pole',
 'Antarctica/Syowa',
 'Antarctica/Troll',
 'Antarctica/Vostok',
 'Arctic/Longyearbyen',
 'Asia/Aden',
 'Asia/Almaty',
 'Asia/Amman',
 'Asia/Anadyr',
 'Asia/Aqtau',
 'Asia/Aqtobe',
 'Asia/Ashgabat',
 'Asia/Ashkhabad',
 'Asia/Atyrau',
 'Asia/Baghdad',
 'Asia/Bahrain',
 'Asia/Baku',
 'Asia/Bangkok',
 'Asia/Barnaul',
 'Asia/Beirut',
 'Asia/Bishkek',
 'Asia/Brunei',
 'Asia/Calcutta',
 'Asia/Chita',
 'Asia/Choibalsan',
 'Asia/Chongqing',
 'Asia/Chungking',
 'Asia/Colombo',
 'Asia/Dacca',
 'Asia/Damascus',
 'Asia/Dhaka',
 'Asia/Dili',
 'Asia/Dubai',
 'Asia/Dushanbe',
 'Asia/Famagusta',
 'Asia/Gaza',
 'Asia/Harbin',
 'Asia/Hebron',
 'Asia/Ho_Chi_Minh',
 'Asia/Hong_Kong',
 'Asia/Hovd',
 'Asia/Irkutsk',
 'Asia/Istanbul',
 'Asia/Jakarta',
 'Asia/Jayapura',
 'Asia/Jerusalem',
 'Asia/Kabul',
 'Asia/Kamchatka',
 'Asia/Karachi',
 'Asia/Kashgar',
 'Asia/Kathmandu',
 'Asia/Katmandu',
 'Asia/Khandyga',
 'Asia/Kolkata',
 'Asia/Krasnoyarsk',
 'Asia/Kuala_Lumpur',
 'Asia/Kuching',
 'Asia/Kuwait',
 'Asia/Macao',
 'Asia/Macau',
 'Asia/Magadan',
 'Asia/Makassar',
 'Asia/Manila',
 'Asia/Muscat',
 'Asia/Nicosia',
 'Asia/Novokuznetsk',
 'Asia/Novosibirsk',
 'Asia/Omsk',
 'Asia/Oral',
 'Asia/Phnom_Penh',
 'Asia/Pontianak',
 'Asia/Pyongyang',
 'Asia/Qatar',
 'Asia/Qostanay',
 'Asia/Qyzylorda',
 'Asia/Rangoon',
 'Asia/Riyadh',
 'Asia/Saigon',
 'Asia/Sakhalin',
 'Asia/Samarkand',
 'Asia/Seoul',
 'Asia/Shanghai',
 'Asia/Singapore',
 'Asia/Srednekolymsk',
 'Asia/Taipei',
 'Asia/Tashkent',
 'Asia/Tbilisi',
 'Asia/Tehran',
 'Asia/Tel_Aviv',
 'Asia/Thimbu',
 'Asia/Thimphu',
 'Asia/Tokyo',
 'Asia/Tomsk',
 'Asia/Ujung_Pandang',
 'Asia/Ulaanbaatar',
 'Asia/Ulan_Bator',
 'Asia/Urumqi',
 'Asia/Ust-Nera',
 'Asia/Vientiane',
 'Asia/Vladivostok',
 'Asia/Yakutsk',
 'Asia/Yangon',
 'Asia/Yekaterinburg',
 'Asia/Yerevan',
 'Atlantic/Azores',
 'Atlantic/Bermuda',
 'Atlantic/Canary',
 'Atlantic/Cape_Verde',
 'Atlantic/Faeroe',
 'Atlantic/Faroe',
 'Atlantic/Jan_Mayen',
 'Atlantic/Madeira',
 'Atlantic/Reykjavik',
 'Atlantic/South_Georgia',
 'Atlantic/St_Helena',
 'Atlantic/Stanley',
 'Australia/ACT',
 'Australia/Adelaide',
 'Australia/Brisbane',
 'Australia/Broken_Hill',
 'Australia/Canberra',
 'Australia/Currie',
 'Australia/Darwin',
 'Australia/Eucla',
 'Australia/Hobart',
 'Australia/LHI',
 'Australia/Lindeman',
 'Australia/Lord_Howe',
 'Australia/Melbourne',
 'Australia/NSW',
 'Australia/North',
 'Australia/Perth',
 'Australia/Queensland',
 'Australia/South',
 'Australia/Sydney',
 'Australia/Tasmania',
 'Australia/Victoria',
 'Australia/West',
 'Australia/Yancowinna',
 'Brazil/Acre',
 'Brazil/DeNoronha',
 'Brazil/East',
 'Brazil/West',
 'CET',
 'CST6CDT',
 'Canada/Atlantic',
 'Canada/Central',
 'Canada/Eastern',
 'Canada/Mountain',
 'Canada/Newfoundland',
 'Canada/Pacific',
 'Canada/Saskatchewan',
 'Canada/Yukon',
 'Chile/Continental',
 'Chile/EasterIsland',
 'Cuba',
 'EET',
 'EST',
 'EST5EDT',
 'Egypt',
 'Eire',
 'Etc/GMT',
 'Etc/GMT+0',
 'Etc/GMT+1',
 'Etc/GMT+10',
 'Etc/GMT+11',
 'Etc/GMT+12',
 'Etc/GMT+2',
 'Etc/GMT+3',
 'Etc/GMT+4',
 'Etc/GMT+5',
 'Etc/GMT+6',
 'Etc/GMT+7',
 'Etc/GMT+8',
 'Etc/GMT+9',
 'Etc/GMT-0',
 'Etc/GMT-1',
 'Etc/GMT-10',
 'Etc/GMT-11',
 'Etc/GMT-12',
 'Etc/GMT-13',
 'Etc/GMT-14',
 'Etc/GMT-2',
 'Etc/GMT-3',
 'Etc/GMT-4',
 'Etc/GMT-5',
 'Etc/GMT-6',
 'Etc/GMT-7',
 'Etc/GMT-8',
 'Etc/GMT-9',
 'Etc/GMT0',
 'Etc/Greenwich',
 'Etc/UCT',
 'Etc/UTC',
 'Etc/Universal',
 'Etc/Zulu',
 'Europe/Amsterdam',
 'Europe/Andorra',
 'Europe/Astrakhan',
 'Europe/Athens',
 'Europe/Belfast',
 'Europe/Belgrade',
 'Europe/Berlin',
 'Europe/Bratislava',
 'Europe/Brussels',
 'Europe/Bucharest',
 'Europe/Budapest',
 'Europe/Busingen',
 'Europe/Chisinau',
 'Europe/Copenhagen',
 'Europe/Dublin',
 'Europe/Gibraltar',
 'Europe/Guernsey',
 'Europe/Helsinki',
 'Europe/Isle_of_Man',
 'Europe/Istanbul',
 'Europe/Jersey',
 'Europe/Kaliningrad',
 'Europe/Kiev',
 'Europe/Kirov',
 'Europe/Lisbon',
 'Europe/Ljubljana',
 'Europe/London',
 'Europe/Luxembourg',
 'Europe/Madrid',
 'Europe/Malta',
 'Europe/Mariehamn',
 'Europe/Minsk',
 'Europe/Monaco',
 'Europe/Moscow',
 'Europe/Nicosia',
 'Europe/Oslo',
 'Europe/Paris',
 'Europe/Podgorica',
 'Europe/Prague',
 'Europe/Riga',
 'Europe/Rome',
 'Europe/Samara',
 'Europe/San_Marino',
 'Europe/Sarajevo',
 'Europe/Saratov',
 'Europe/Simferopol',
 'Europe/Skopje',
 'Europe/Sofia',
 'Europe/Stockholm',
 'Europe/Tallinn',
 'Europe/Tirane',
 'Europe/Tiraspol',
 'Europe/Ulyanovsk',
 'Europe/Uzhgorod',
 'Europe/Vaduz',
 'Europe/Vatican',
 'Europe/Vienna',
 'Europe/Vilnius',
 'Europe/Volgograd',
 'Europe/Warsaw',
 'Europe/Zagreb',
 'Europe/Zaporozhye',
 'Europe/Zurich',
 'GB',
 'GB-Eire',
 'GMT',
 'GMT+0',
 'GMT-0',
 'GMT0',
 'Greenwich',
 'HST',
 'Hongkong',
 'Iceland',
 'Indian/Antananarivo',
 'Indian/Chagos',
 'Indian/Christmas',
 'Indian/Cocos',
 'Indian/Comoro',
 'Indian/Kerguelen',
 'Indian/Mahe',
 'Indian/Maldives',
 'Indian/Mauritius',
 'Indian/Mayotte',
 'Indian/Reunion',
 'Iran',
 'Israel',
 'Jamaica',
 'Japan',
 'Kwajalein',
 'Libya',
 'MET',
 'MST',
 'MST7MDT',
 'Mexico/BajaNorte',
 'Mexico/BajaSur',
 'Mexico/General',
 'NZ',
 'NZ-CHAT',
 'Navajo',
 'PRC',
 'PST8PDT',
 'Pacific/Apia',
 'Pacific/Auckland',
 'Pacific/Bougainville',
 'Pacific/Chatham',
 'Pacific/Chuuk',
 'Pacific/Easter',
 'Pacific/Efate',
 'Pacific/Enderbury',
 'Pacific/Fakaofo',
 'Pacific/Fiji',
 'Pacific/Funafuti',
 'Pacific/Galapagos',
 'Pacific/Gambier',
 'Pacific/Guadalcanal',
 'Pacific/Guam',
 'Pacific/Honolulu',
 'Pacific/Johnston',
 'Pacific/Kanton',
 'Pacific/Kiritimati',
 'Pacific/Kosrae',
 'Pacific/Kwajalein',
 'Pacific/Majuro',
 'Pacific/Marquesas',
 'Pacific/Midway',
 'Pacific/Nauru',
 'Pacific/Niue',
 'Pacific/Norfolk',
 'Pacific/Noumea',
 'Pacific/Pago_Pago',
 'Pacific/Palau',
 'Pacific/Pitcairn',
 'Pacific/Pohnpei',
 'Pacific/Ponape',
 'Pacific/Port_Moresby',
 'Pacific/Rarotonga',
 'Pacific/Saipan',
 'Pacific/Samoa',
 'Pacific/Tahiti',
 'Pacific/Tarawa',
 'Pacific/Tongatapu',
 'Pacific/Truk',
 'Pacific/Wake',
 'Pacific/Wallis',
 'Pacific/Yap',
 'Poland',
 'Portugal',
 'ROC',
 'ROK',
 'Singapore',
 'Turkey',
 'UCT',
 'US/Alaska',
 'US/Aleutian',
 'US/Arizona',
 'US/Central',
 'US/East-Indiana',
 'US/Eastern',
 'US/Hawaii',
 'US/Indiana-Starke',
 'US/Michigan',
 'US/Mountain',
 'US/Pacific',
 'US/Samoa',
 'UTC',
 'Universal',
 'W-SU',
 'WET',
 'Zulu']

In [5]:
# pd.Timestamp attributes

t = pd.Timestamp(1713092400.0, unit='s', tz='Europe/Moscow')
print(f'This day: {t}')
print(f'Day of week (number): {t.day_of_week}')
print(f'Day of year (number): {t.day_of_year}')
print(f'Week\'s number: {t.week}')
print(f'Days in month: {t.days_in_month}')

This day: 2024-04-14 14:00:00+03:00
Day of week (number): 6
Day of year (number): 105
Week's number: 15
Days in month: 30

In [6]:
# pd.Timestamp methods

t = pd.Timestamp.now()
print(f'This day: {t}')
print(f'Day name: {t.day_name()}')
print(f'Month name: {t.month_name()}')
print(f'Today is: {pd.Timestamp.date(t)}')
print(f'Now is: {pd.Timestamp.time(t)}')

This day: 2022-11-20 11:49:39.858288
Day name: Sunday
Month name: November
Today is: 2022-11-20
Now is: 11:49:39.858288

In [7]:
# replace datetime components

d = pd.Timestamp.today()
d.replace(year=1999)

Timestamp('1999-11-20 11:49:51.693732')

In [8]:
# combine date and time

date_ = d.date()
time_ = d.time()
print(f'{date_=}, {time_=}')
date_and_time = pd.Timestamp.combine(date_, time_)
print(f'{date_and_time=}')

date_=datetime.date(2022, 11, 20), time_=datetime.time(11, 49, 51, 693732)
date_and_time=Timestamp('2022-11-20 11:49:51.693732')

In [9]:
# format datetime to string

d.strftime('%d %b %Y')

'20 Nov 2022'

## Series.dt methods

When you're working with datetime data (`dtype` = `datetime64 [ns]`), `pandas` comes with a set of methods that are only available to datetime data. These methods can be accessed through the `dt` attribute when used in a pandas series.

In [10]:
s = pd.to_datetime(pd.Series([
        '1990-05-31 10:00',\
        '1995-06-05 15:00',\
        '2020-09-09 12:00']
))

In [11]:
# displaying the date
s.dt.date

0    1990-05-31
1    1995-06-05
2    2020-09-09
dtype: object

In [12]:
# displaying the time
s.dt.time

0    10:00:00
1    15:00:00
2    12:00:00
dtype: object

In [13]:
# displaying the year
s.dt.year

0    1990
1    1995
2    2020
dtype: int64

In [14]:
# displaying the month
s.dt.month

0    5
1    6
2    9
dtype: int64

In [15]:
# displaying the day
s.dt.day

0    31
1     5
2     9
dtype: int64

In [16]:
# displaying the hour
s.dt.hour

0    10
1    15
2    12
dtype: int64

In [17]:
# displaying the day name of each date
s.dt.day_name()

0     Thursday
1       Monday
2    Wednesday
dtype: object

In [18]:
# month name
s.dt.month_name()

0          May
1         June
2    September
dtype: object

In [19]:
# day of year
s.dt.dayofyear

0    151
1    156
2    253
dtype: int64

In [20]:
# splitting Series of datetime type to the DataFrame with columns year, week and day
s.dt.isocalendar()

   year  week  day
0  1990    22    4
1  1995    23    1
2  2020    37    3

## Series.timedelta methods

When you're working with time difference data (`dtype` = `timedelta64[ns]`), `pandas` come with a set of methods that are only available to different data. These methods can be accessed through the `dt` attribute when used in a pandas series.

In [21]:
# defining a series with timedelta
s = pd.to_datetime(pd.Series([
    '1990-05-31',\
    '1995-06-05',\
    '2020-09-09']))\
    - pd.to_datetime('2020-01-01')
s

0   -10807 days
1    -8976 days
2      252 days
dtype: timedelta64[ns]

In [22]:
# displaying the number of seconds
s.dt.total_seconds()

0   -933724800.0
1   -775526400.0
2     21772800.0
dtype: float64

In [23]:
# displaying the series as datetime.timdelta array
s.dt.to_pytimedelta()

array([datetime.timedelta(days=-10807), datetime.timedelta(days=-8976),
       datetime.timedelta(days=252)], dtype=object)

In [24]:
# displaying each time component
s.dt.components

    days  hours  minutes  seconds  milliseconds  microseconds  nanoseconds
0 -10807      0        0        0             0             0            0
1  -8976      0        0        0             0             0            0
2    252      0        0        0             0             0            0

In [25]:
dates = pd.date_range(start='2022-2-24', end='2022-11-16', freq='D')
pd.Series(dates)

0     2022-02-24
1     2022-02-25
2     2022-02-26
3     2022-02-27
4     2022-02-28
         ...
261   2022-11-12
262   2022-11-13
263   2022-11-14
264   2022-11-15
265   2022-11-16
Length: 266, dtype: datetime64[ns]

## Converting argument to datetime with pd.to_datetime

In [26]:
# if a DF is provided, it should have columns: year, month and day

years = list(range(1900, 2000, 5))
months = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 1, 2, 3, 4, 5, 6, 7, 8]
days = list(range(1, 21))
df = pd.DataFrame({
    'year': years,
    'month': months,
    'day': days
})
df['datetime'] = pd.to_datetime(df)
df

    year  month  day   datetime
0   1900      1    1 1900-01-01
1   1905      2    2 1905-02-02
2   1910      3    3 1910-03-03
3   1915      4    4 1915-04-04
4   1920      5    5 1920-05-05
5   1925      6    6 1925-06-06
6   1930      7    7 1930-07-07
7   1935      8    8 1935-08-08
8   1940      9    9 1940-09-09
9   1945     10   10 1945-10-10
10  1950     11   11 1950-11-11
11  1955     12   12 1955-12-12
12  1960      1   13 1960-01-13
13  1965      2   14 1965-02-14
14  1970      3   15 1970-03-15
15  1975      4   16 1975-04-16
16  1980      5   17 1980-05-17
17  1985      6   18 1985-06-18
18  1990      7   19 1990-07-19
19  1995      8   20 1995-08-20

In [27]:
# using datefirst and yearfirst arguments

dates = ['10/11/12', '11/12/12', '12/10/11', '5/3/7']
s1 = pd.to_datetime(pd.Series(dates), dayfirst=True)
s2 = pd.to_datetime(pd.Series(dates), yearfirst=True)
df = pd.DataFrame(data={'dayfirst': s1, 'yearfirst': s2})
df

    dayfirst  yearfirst
0 2012-11-10 2010-11-12
1 2012-12-11 2011-12-12
2 2011-10-12 2012-10-11
3 2007-03-05 2005-03-07

In [28]:
# using format argument to parse dates from strings

dates = ['14/1977/4', '16/2021/10', '28/1987/2', '19/1947/6', '8/1954/8']
df = pd.to_datetime(pd.Series(dates), format='%d/%Y/%m')
df

0   1977-04-14
1   2021-10-16
2   1987-02-28
3   1947-06-19
4   1954-08-08
dtype: datetime64[ns]

In [29]:
# using exact argument to parse dates from mixed strings

dates = [
    'April: 14/1977/4', 
    'Stacy: 16/2021/10', 
    'Guru: 28/1987/2', 
    'Dad: 19/1947/6', 
    'Mom: 8/1954/8'
]
df = pd.to_datetime(pd.Series(dates), format='%d/%Y/%m', exact=False)
df

0   1977-04-14
1   2021-10-16
2   1987-02-28
3   1947-06-19
4   1954-08-08
dtype: datetime64[ns]

## Using pd.to_timedelta

In [30]:
# argument can be string
pd.to_timedelta('1 days 06:05:01.00003')

Timedelta('1 days 06:05:01.000030')

In [31]:
# or list-like
pd.to_timedelta([1, 2, 3, 4, 5], unit='D')

TimedeltaIndex(['1 days', '2 days', '3 days', '4 days', '5 days'], dtype='timedelta64[ns]', freq=None)

In [32]:
# or Series
s = pd.Series([1, 2, 3, 4, 5, 6, 7])
pd.to_timedelta(s, unit='d')

0   1 days
1   2 days
2   3 days
3   4 days
4   5 days
5   6 days
6   7 days
dtype: timedelta64[ns]

In [33]:
# unit argument define units of measure of timedelta
pd.to_timedelta(s, unit='W')

0    7 days
1   14 days
2   21 days
3   28 days
4   35 days
5   42 days
6   49 days
dtype: timedelta64[ns]

## Datetime ranges using pd.date_range and pd.bdate_range

In [34]:
# simple date range, default frequency is day
df1 = pd.DataFrame({'date': pd.date_range(start='14/11/2022', end='20/11/2022')})
df1['day_of_week'] = df1.date.dt.day_name()
df1

        date day_of_week
0 2022-11-14      Monday
1 2022-11-15     Tuesday
2 2022-11-16   Wednesday
3 2022-11-17    Thursday
4 2022-11-18      Friday
5 2022-11-19    Saturday
6 2022-11-20      Sunday

In [35]:
# using periods argument to define the quantity of the values
# and name argument to defint the name of the DatetimeIndex
df1_1 = pd.DataFrame(pd.date_range(start='17/11/22', periods=7, name='date'))
df1_1

        date
0 2022-11-17
1 2022-11-18
2 2022-11-19
3 2022-11-20
4 2022-11-21
5 2022-11-22
6 2022-11-23

In [36]:
# using freq argument to define the frequency of values
df1_2 = pd.DataFrame(pd.date_range(start='1/1/22', end='31/12/22', freq='M'))
df1_2

            0
0  2022-01-31
1  2022-02-28
2  2022-03-31
3  2022-04-30
4  2022-05-31
5  2022-06-30
6  2022-07-31
7  2022-08-31
8  2022-09-30
9  2022-10-31
10 2022-11-30
11 2022-12-31

In [37]:
# multiplies frequencys are allowed
df1_3 = pd.DataFrame(pd.date_range(end='1/1/22', periods=10, freq='6M'))
df1_3

           0
0 2017-06-30
1 2017-12-31
2 2018-06-30
3 2018-12-31
4 2019-06-30
5 2019-12-31
6 2020-06-30
7 2020-12-31
8 2021-06-30
9 2021-12-31

In [38]:
# uses buisness days
df2 = pd.DataFrame({'date': pd.bdate_range(start='14/11/2022', end='20/11/2022')})
df2['day_of_week'] = df2.date.dt.day_name()
df2

        date day_of_week
0 2022-11-14      Monday
1 2022-11-15     Tuesday
2 2022-11-16   Wednesday
3 2022-11-17    Thursday
4 2022-11-18      Friday